<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x02</string>
			<key>ApChipID</key>
			<string>0x8940</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbActivationManifestKeyHash</key>
			<data>
			rqXM4UNmjQ77TOHyyUyWamSWxqo=
			</data>
			<key>BbCalibrationManifestKeyHash</key>
			<data>
			vTmCipu1KLpRRvXgaHG2TNu85ak=
			</data>
			<key>BbChipID</key>
			<string>0x005000E1</string>
			<key>BbProvisioningManifestKeyHash</key>
			<data>
			7MQEUyvzG4gjjZc7KsNNAVTS8g4=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>10B329</string>
				<key>BuildTrain</key>
				<string>BrightonMaps</string>
				<key>DeviceClass</key>
				<string>k95ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1071</integer>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>128</key>
					<integer>1280</integer>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Software Update</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>SURamDisk</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					HIzzQ/rc0FAqfYFIojzFItzJL2w=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/applelogo.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>AMSS-DownloadDigest</key>
					<data>
					D8qT0KWprCeWcfrxmCHV06gL0V4=
					</data>
					<key>AMSS-HashTableDigest</key>
					<data>
					7S7KE3/fzNsvTwqKNIno6lqdH5s=
					</data>
					<key>DBL-PartialDigest</key>
					<data>
					VAAAAACyAABxq4165GzOgTCm4ZiQMWng6RCj
					igDSAAAgQ7nmblmQc3mnHpkKkFsh1ZOD7w==
					</data>
					<key>DBL-Version</key>
					<integer>-1610600444</integer>
					<key>ENANDPRG-PartialDigest</key>
					<data>
					UAAAAMB4AgDQ7SQe0W2xGjwHPOFqYDF0efjX
					PQ==
					</data>
					<key>ENANDPRG-Version</key>
					<integer>-1610612479</integer>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/Phoenix-3.0.04.Release.bbfw</string>
					</dict>
					<key>OSBL-DownloadDigest</key>
					<data>
					d8KS/6GAG3tW9oioAgGYJzzdGgc=
					</data>
					<key>PartitionTable-Digest</key>
					<data>
					JVPJlSJZENRmYIDReT3WGJY6qVY=
					</data>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					ttJ6IiGtP9PfALTg0t3/1aNE59s=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/glyphcharging.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					CrwgA7Jckn4pC4CXZoWvjgrCFns=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/batterycharging0.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					gqjH8QtI6+T5/haroSL4VA3c3iQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/batterycharging1.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					xg/HSeWcyZe0JgFedtRVio5Ukcw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/batteryfull.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					S+tdycikBc0M+E6d3yXni7G64QM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/batterylow0.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					Ye6b4zaX2X9Z55q0cgEGQo3Ip50=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/batterylow1.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					8PWfV9kVBvzq6/s/Y8dNBXJa8Dw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/glyphplugin.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					5Q6HHpr4FGSD5MzQ1pRzb+k2RZc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/DeviceTree.k95ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					6Pnv8sY0EuGijthvbZ3b5XUExU4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k95</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjkeABBT+DhUBACT7dY8JMmoftytg1h
					5w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~11</string>
					<key>Digest</key>
					<data>
					Xja2uh/omHdLt3Wi/+X0xGl6lLM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/LLB.k95ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhBAgCT32+pfg2eb49j0L/568uzZKzL
					DA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>048-2653-005.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					apJ/m+ohRWznIWB3jQJ/U3foSnE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/recoverymode~ipad.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					5Q6HHpr4FGSD5MzQ1pRzb+k2RZc=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/DeviceTree.k95ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					6Pnv8sY0EuGijthvbZ3b5XUExU4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k95</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjkeABBT+DhUBACT7dY8JMmoftytg1h
					5w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					HIzzQ/rc0FAqfYFIojzFItzJL2w=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/applelogo.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					soTe26MUEWqoKnxbAlm9uDrYEA4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>048-2872-002.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhwMwEwggsDt8v7VOdjNK99c7EacJVH
					FA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~11</string>
					<key>Digest</key>
					<data>
					/u0jGs9if8F0zt2zAev3JKzztRI=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.k95ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhhBACk47f+XqisHiNIBBAKHw4iDi/s
					xQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~11</string>
					<key>Digest</key>
					<data>
					nlAE2jQFWaYHO9pZJhq39y37sak=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.k95ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHghAQANcAxHbW82dSao7tLTKanbbqgc
					oA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					v2eoCemXjk48k9bkIw7MrHV+9Vw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/iBoot.k95ap.RELEASE.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			k8/0Wy73uXDFAc84NnXIXIXUnHI=
			</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>10B329</string>
	<key>ProductVersion</key>
	<string>6.1.3</string>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPad2,3</string>
	</array>
</dict>
</plist>
