<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x08</string>
			<key>ApChipID</key>
			<string>0x8940</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbActivationManifestKeyHash</key>
			<data>
			rqXM4UNmjQ77TOHyyUyWamSWxqo=
			</data>
			<key>BbCalibrationManifestKeyHash</key>
			<data>
			vTmCipu1KLpRRvXgaHG2TNu85ak=
			</data>
			<key>BbChipID</key>
			<string>0x005A00E1</string>
			<key>BbProvisioningManifestKeyHash</key>
			<data>
			7MQEUyvzG4gjjZc7KsNNAVTS8g4=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>10B329</string>
				<key>BuildTrain</key>
				<string>BrightonMaps</string>
				<key>DeviceClass</key>
				<string>n94ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1220</integer>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>128</key>
					<integer>1280</integer>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Software Update</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>SURamDisk</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					UQSW+1v9yqBz7FmcAP9hm+1DjHY=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>AMSS-DownloadDigest</key>
					<data>
					rTRDFcZPBYMKkCeZs3XC4rsV0Mo=
					</data>
					<key>AMSS-HashTableDigest</key>
					<data>
					UMf1FQsFTmaNLaMw1bZCqCNG2do=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/Trek-3.4.03.Release.bbfw</string>
					</dict>
					<key>OSBL-DownloadDigest</key>
					<data>
					XLDOaydMxcNeZsyg2WepzeY1pRs=
					</data>
					<key>RestoreDBL-PartialDigest</key>
					<data>
					WAAAAMDFAQAGWb86yHprHKdWuKYKg7tIaZbF
					tA==
					</data>
					<key>RestoreDBL-Version</key>
					<integer>-1575996413</integer>
					<key>eDBL-PartialDigest</key>
					<data>
					ZAAAAMDGAQC9f3Z98ATNa7/pxE7hjOEmjQbq
					cQ==
					</data>
					<key>eDBL-Version</key>
					<integer>-1577044989</integer>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					J9e4sgRytj7lLuRzHcDo1DK6Z14=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/glyphcharging@2x.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					0rvcBIYIOEn3XMDm/YewYkPZmiI=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/batterycharging0@2x.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					tMhBGCHX9uV+4S5B9wy9xKSVYzA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/batterycharging1@2x.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					xJtU8Nwq5gE6nY/slhXH8YdPNeA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/batteryfull@2x.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					xU+xkIvGHP1Z2EDbVaeYCBn2yTM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/batterylow0@2x.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					26C6wFnZOb6Di4WrFBwe2xr+BZ4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/batterylow1@2x.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					s8OXD4BLLAlYEohMvVv1SNJSqa8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/glyphplugin@2x.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					QsCm85hY2I4ti0XDLbYNrgtsIAw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					lma8yuTB5iuO+w37PvqENq1dhCU=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n94</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALhIdgAACB4c0Ts3VQqOocOArinPmkC8
					Jg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~11</string>
					<key>Digest</key>
					<data>
					99ylB5vX7gUI0Oq1jrXFPOVbTRQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/LLB.n94ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhBAgCSzOMBtTGk64GZ9wZ7BvV/83JD
					Bg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>048-2613-005.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					zyhcoL1VMbP1uVdK3o/HmDPatVA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/recoverymode@2x~iphone.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					QsCm85hY2I4ti0XDLbYNrgtsIAw=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					lma8yuTB5iuO+w37PvqENq1dhCU=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n94</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALhIdgAACB4c0Ts3VQqOocOArinPmkC8
					Jg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					UQSW+1v9yqBz7FmcAP9hm+1DjHY=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					soTe26MUEWqoKnxbAlm9uDrYEA4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>048-2872-002.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhwMwEwggsDt8v7VOdjNK99c7EacJVH
					FA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~11</string>
					<key>Digest</key>
					<data>
					CUTBTlqvUkRApxzCSHpjuvBKVIc=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n94ap.RELEASE.dfu</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~11</string>
					<key>Digest</key>
					<data>
					o8qltDmBqtasoDbPrXONbk3BKEo=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n94ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHghAQBeQqUcXEV5SLOShFgas/KzLSCE
					vQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					LA76H5o3Gl5uv3xbQ1fI4OSNUJE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/iBoot.n94ap.RELEASE.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			3Usl6yRx4qezMq1vuVZf69RDnU8=
			</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>10B329</string>
	<key>ProductVersion</key>
	<string>6.1.3</string>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPhone4,1</string>
	</array>
</dict>
</plist>
