<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentitiesPatches</key>
	<dict>
		<key>UniqueBuildID</key>
		<data>sA5Apv3DkLYurMsefxwgc2F4eww=</data>
		<key>Manifest</key>
		<dict>
			<key>RestoreRamDisk</key>
			<dict>
				<key>Digest</key>
				<data>6YT8kmZto76bYGIappOkcqg4gqg=</data>
			</dict>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPad2,1_8.4.1_12H321_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-24341-023.dmg</string>
			<key>IV</key>
			<string>0be794af601d0b12de6d3357b9b3b062</string>
			<key>Key</key>
			<string>f769783bfd00285918e4e8547795ed0bc9a10d0a6caf2d484767e30a5504f39a</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k93ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93ap.production/DeviceTree.k93ap.img3</string>
			<key>IV</key>
			<string>5bffad9ad82108c5ae3d38150dc56aea</string>
			<key>Key</key>
			<string>12433a4c85ec86ac6e14884f01661e2c5de43adee0323d1e88d4edd8d1ae9fda</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.k93</string>
			<key>File</key>
			<string>kernelcache.release.k93</string>
			<key>IV</key>
			<string>38d12734c845d1dcdb84846caf619da7</string>
			<key>Key</key>
			<string>6dea51edc4c6f6c205e25ca1d9af5b9ee7167ed5685a937ad892e7fcbfb3e615</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8940x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93ap.production/applelogo.s5l8940x.img3</string>
			<key>IV</key>
			<string>7024762156bac507f28dca8c1bb2f3d1</string>
			<key>Key</key>
			<string>bec85f0507dbec46982ff08e37b551310195dcf4f885649aab0162f729160066</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k93.RELEASE.dfu</string>
			<key>IV</key>
			<string>83220a369c9525f3febb3edd331c65fb</string>
			<key>Key</key>
			<string>179027ef30b5008882d6dbd723ceb50c39cba40bb33ba620b71bcbc53ff2d424</string>
			<key>Patch</key>
			<string>iBEC.k93.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k93.RELEASE.dfu</string>
			<key>IV</key>
			<string>781b9672a86ba1b41f8b7fa0af714c94</string>
			<key>Key</key>
			<string>bbd7bf676dbcc6ba93c76d496b7af39ae7772eaaad2ec9fb71dc1fd004827784</string>
			<key>Patch</key>
			<string>iBSS.k93.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPad2,1_8.4.1_12H321</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.k93.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-24482-024.dmg</string>
	<key>RootFilesystemKey</key>
	<string>d33bfc10cc397ae008d2e56685acb172b74f0eccbe652ecd52e234ab12705980b6483b60</string>
	<key>RootFilesystemMountVolume</key>
	<string>Donner12H321</string>
	<key>RootFilesystemSize</key>
	<integer>1804</integer>
	<key>SHA1</key>
	<string>529fc75ec834111e255a74241eeb14fb7cc5c46b</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
