<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RootFilesystem</key>
	<string>048-2653-005.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1071</integer>
	<key>Filename</key>
	<string>iPad2,3_6.1.3_10B329_Restore.ipsw</string>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>Name</key>
	<string>iPhone2,3_6.1.3_10B329</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.k95.plist</string>
	<key>SHA1</key>
	<string>b02a4f3f5b6b948bdcd036caee71449201e72f63</string>
	<key>BuildIdentitiesPatches</key>
	<dict>
		<key>UniqueBuildID</key>
		<data>k8/0Wy73uXDFAc84NnXIXIXUnHI=</data>
		<key>Manifest</key>
		<dict>
			<key>RestoreRamDisk</key>
			<dict>
				<key>Digest</key>
				<data>soTe26MUEWqoKnxbAlm9uDrYEA4=</data>
				<key>PartialDigest</key>
				<data>QAAAAHhwMwEwggsDt8v7VOdjNK99c7EacJVHFA==</data>
			</dict>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>RootFilesystemMountVolume</key>
	<string>BrightonMaps10B329.K95OS</string>
	<key>FirmwarePatches</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k95ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>0bb841b8f1922ae73d85ed9ed0d7a3583a10af909787857c15af2691b39bba30</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBSS.k95ap.RELEASE.patch</string>
			<key>IV</key>
			<string>56f964ee19bfd31f06e43e9d8fe93902</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k95ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>12805eb0cabe89539cfecbf886b0638a6fe941976ef9afe8bf3dc838139357ba</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBEC.k95ap.RELEASE.patch</string>
			<key>IV</key>
			<string>5aeb8eb73be0c634f9fa2a4eae791438</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k95ap.production/DeviceTree.k95ap.img3</string>
			<key>Key</key>
			<string>8debb89e1457cc695e10891312bdbfbb4d5f40f7eaa6913dfe7dc61be6d9e5c7</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k95ap.img3</string>
			<key>IV</key>
			<string>e28736e5e1a7c3fd31021398ed65af62</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k95ap.production/applelogo.s5l8940x.img3</string>
			<key>Key</key>
			<string>0e7aa7bbcfddc88dfe0e56e021363028502621c52c709afc3744850977e2fb9f</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8940x.img3</string>
			<key>IV</key>
			<string>623b2592ad563ea16bd8a86af6960bcb</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-2516-005.dmg</string>
			<key>Key</key>
			<string>fd1188246393949c4ae81c302221019a2699dba6185cb1460e39ee80f1c7424a</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
			<key>IV</key>
			<string>4edaee1b65d86a5f9a16c3ef09b262bf</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.k95</string>
			<key>Key</key>
			<string>0e2f5fa117fa62535dc18ee0526137d6e73b4fc69edec9d99f1528f2a632fc83</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.k95</string>
			<key>TypeFlag</key>
			<integer>4</integer>
			<key>IV</key>
			<string>0cc133db4539b82dee5849d6abbcc467</string>
		</dict>
	</dict>
	<key>RootFilesystemKey</key>
	<string>b51815b65f7e572ad0cc1238bf799edb558b602b0ee390a76cd874d714b7daf10205b195</string>
</dict>
</plist>
