<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RootFilesystem</key>
	<string>058-24525-023.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>2058</integer>
	<key>Filename</key>
	<string>iPhone5,1_8.4.1_12H321_Restore.ipsw</string>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>Name</key>
	<string>iPhone5,1_8.4.1_12H321</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n41.plist</string>
	<key>SHA1</key>
	<string>1e0f9ebf293eafd4e43f10e61b877b86b27838b2</string>
	<key>BuildIdentitiesPatches</key>
	<dict>
		<key>UniqueBuildID</key>
		<data>Orhpt1ZWgw21W/jf1AjNMiuMcfs=</data>
		<key>Manifest</key>
		<dict>
			<key>RestoreRamDisk</key>
			<dict>
				<key>Digest</key>
				<data>IsceeVqQCLCQOuVYWRRghycOAE8=</data>
			</dict>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>RootFilesystemMountVolume</key>
	<string>Donner12H321.N41OS</string>
	<key>FirmwarePatches</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n41.RELEASE.dfu</string>
			<key>Key</key>
			<string>BAF05FE0282F78C18C2E3842BE4F9021919D586B55594281F5B5ABD0F6E61495</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBSS.n41.RELEASE.patch</string>
			<key>IV</key>
			<string>BD0C8B039A819604A30F0D39ADF88572</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n41.RELEASE.dfu</string>
			<key>Key</key>
			<string>df94c70aa77322498b3be544e3134b820236fef0f155e7f1354db662d6031368</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBEC.n41.RELEASE.patch</string>
			<key>IV</key>
			<string>2055ec501ea1bb9474d7c914dd883e61</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/DeviceTree.n41ap.img3</string>
			<key>Key</key>
			<string>a7ad85c49ef64cfb37549c1126ab13ff7297e038f5548410adedbdb29efdfa77</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n41ap.img3</string>
			<key>IV</key>
			<string>5ff721d45504fe136759292b2966e3f2</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>Key</key>
			<string>967e260de1a600600ead78fa451865be406c851f8d97da4ddc6d7429173f5648</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>ef41848f4bdd07ea7de5a2bd2d90b989</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-23947-023.dmg</string>
			<key>Key</key>
			<string>53b8fb57b67db2bf471cd3c3b652247dcb77ca381bd64c687b492dd0cfd65187</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
			<key>IV</key>
			<string>22e450d708b6319a619d5edecad88a86</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n41</string>
			<key>Key</key>
			<string>6c4dfcd48110c6d13df01874e6d2d12348d95320d2a5971c5465316eca6f8061</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n41</string>
			<key>TypeFlag</key>
			<integer>4</integer>
			<key>IV</key>
			<string>31ff9006a2d8326cbadf0c7795c71c1d</string>
		</dict>
	</dict>
	<key>RootFilesystemKey</key>
	<string>da2aa06747849210b9cc1ff219b4584572d1df2832e2cd3ad6636d281447c156ae544b35</string>
</dict>
</plist>
