<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RootFilesystem</key>
	<string>048-2634-005.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1063</integer>
	<key>Filename</key>
	<string>iPad2,1_6.1.3_10B329_Restore.ipsw</string>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>Name</key>
	<string>iPhone2,1_6.1.3_10B329</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.k93.plist</string>
	<key>SHA1</key>
	<string>241a02bb446c21e44e8470b77e09b5fbfba7d6c4</string>
	<key>BuildIdentitiesPatches</key>
	<dict>
		<key>UniqueBuildID</key>
		<data>tmhlqSVs3hfYDCFEF1CNxG9edO8=</data>
		<key>Manifest</key>
		<dict>
			<key>RestoreRamDisk</key>
			<dict>
				<key>Digest</key>
				<data>soTe26MUEWqoKnxbAlm9uDrYEA4=</data>
				<key>PartialDigest</key>
				<data>QAAAAHhwMwEwggsDt8v7VOdjNK99c7EacJVHFA==</data>
			</dict>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>RootFilesystemMountVolume</key>
	<string>BrightonMaps10B329.K93OS</string>
	<key>FirmwarePatches</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k93ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>6e4cce9ea6f2ec346cba0b279beab1b43e44a0680f1fde789a00f66a1e68ffab</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBSS.k93ap.RELEASE.patch</string>
			<key>IV</key>
			<string>b69f753dccd09c9b98d345ec73bbf044</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k93ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>69eaeb223db61b557c36d65fa7e6e4ec1c0d7547dfce9d46077f7e5b0fcba98f</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBEC.k93ap.RELEASE.patch</string>
			<key>IV</key>
			<string>3a0726b7bc091915dd928eed21478728</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93ap.production/DeviceTree.k93ap.img3</string>
			<key>Key</key>
			<string>7c9c0c49075fd6c47e1598f23901266237e30e60dcfc7174b8c2ea6f42532bfb</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k93ap.img3</string>
			<key>IV</key>
			<string>557d2b8116b04cf93bf7bff023ed6bf2</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93ap.production/applelogo.s5l8940x.img3</string>
			<key>Key</key>
			<string>0e7aa7bbcfddc88dfe0e56e021363028502621c52c709afc3744850977e2fb9f</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8940x.img3</string>
			<key>IV</key>
			<string>623b2592ad563ea16bd8a86af6960bcb</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-2516-005.dmg</string>
			<key>Key</key>
			<string>d406dc4343eedf9d6567e8303ba39a21f81f99bf701840c888963af58a84fb8f</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
			<key>IV</key>
			<string>8775b711d2e09e332f8ebfbebe63cce7</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.k93</string>
			<key>Key</key>
			<string>2bbdf3fea41600cd7ae46157af7f19b1726900802f2ec2022aa60b9a27a3261f</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.k93</string>
			<key>TypeFlag</key>
			<integer>4</integer>
			<key>IV</key>
			<string>247ea923c137404f4faec7da75822b08</string>
		</dict>
	</dict>
	<key>RootFilesystemKey</key>
	<string>70f5ac054bf50a522fd39071f6acbd92954804599c1507b881d7d9c4026005e3867bfab0</string>
</dict>
</plist>
