<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPad3,5_8.4.1_12H321_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-24517-023.dmg</string>
			<key>IV</key>
			<string>923259891cffc81f2332c7b08414be0f</string>
			<key>Key</key>
			<string>98c6c3c9aebee967b021350547e12064804ded2cfb8a5c6d587fe1b26a8f1678</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPad3,5_8.4.1_12H321</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.p102.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-24439-023.dmg</string>
	<key>RootFilesystemKey</key>
	<string>fd15f25c4d183ea8493c5c4d14cf0fc3803c26c28a9fd2859e02a1523fd7cba67604fe91</string>
	<key>RootFilesystemMountVolume</key>
	<string>Donner12H321</string>
	<key>RootFilesystemSize</key>
	<integer>2221</integer>
	<key>SHA1</key>
	<string>5a850c79c871f0487cf6177756c19894ff2bba16</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>needPref</key>
	<true/>
</dict>
</plist>
