<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentitiesPatches</key>
	<dict>
		<key>UniqueBuildID</key>
		<data>Aq/TM9+fzfChTyHI3ostc1RGGkE=</data>
		<key>Manifest</key>
		<dict>
			<key>RestoreRamDisk</key>
			<dict>
				<key>Digest</key>
				<data>dKo3Kn9R8PeR5H6YncOmfEwm8ug=</data>
			</dict>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPad3,6_8.4.1_12H321_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Remove nosuid and nodev from /private/var</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-24517-023.dmg</string>
			<key>IV</key>
			<string>2f822acb8c97dceef576f772449e8779</string>
			<key>Key</key>
			<string>88f649436d109c4c6a365c2071cdeb269e0fa439e608af6846603124f5786179</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/RestoreDeviceTree</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p103ap.production/DeviceTree.p103ap.img3</string>
			<key>IV</key>
			<string>2835a2bd7d30e630045431f8c9558fab</string>
			<key>Key</key>
			<string>52de0f1b2669905ec0817f2407ad3e4ce2c757cf8ed650c56c0d03afdf28409f</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/RestoreKernelCache</string>
			<key>File</key>
			<string>kernelcache.release.p103</string>
			<key>IV</key>
			<string>b325c546459c70277dc9aae74dd950cd</string>
			<key>Key</key>
			<string>29a61a3886ff3ae7df2a3e489f02e38e97a16365b3dae13430ffbb4b54eecee6</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/RestoreLogo</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p103ap.production/applelogo@2x~ipad.s5l8955x.img3</string>
			<key>IV</key>
			<string>adf49517c9d99ba14466e24628cf68db</string>
			<key>Key</key>
			<string>54db70d5cd7dc3c3dc5acbe408a91f0faf7061a9ef6b070da2cb1feb2e7bb04b</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.p103.RELEASE.dfu</string>
			<key>IV</key>
			<string>edcb09e4654f10318856f4d27d31d999</string>
			<key>Key</key>
			<string>18898da62750874c3ef2ecd64d8e6dfc3af5f381221e56dcbf16ed36b496a084</string>
			<key>Patch</key>
			<string>iBEC.p103.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.p103.RELEASE.dfu</string>
			<key>IV</key>
			<string>1d99e780d96c32a25ca7e4b1c7fe14c0</string>
			<key>Key</key>
			<string>4e2c14927693d61e1da375e340061521c9376007163f6ab55afbe1a03b901fd3</string>
			<key>Patch</key>
			<string>iBSS.p103.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPad3,6_8.4.1_12H321</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.p103.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-24407-023.dmg</string>
	<key>RootFilesystemKey</key>
	<string>13f3003d076f57704200577251dae21801be38ce070b08289e9b4c791fb968144b375ce5</string>
	<key>RootFilesystemMountVolume</key>
	<string>Donner12H321</string>
	<key>RootFilesystemSize</key>
	<integer>2221</integer>
	<key>SHA1</key>
	<string>ebafd3826dc6299dcbbed56459ce8661379d935d</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>needPref</key>
	<true/>
	<key>hwmodel</key>
	<string>P103</string>
	<key>PackagePath</key>
	<string>./freeze.tar</string>
	<key>UntetherPath</key>
	<string>./untether.tar</string>
	<key>RamdiskPackage</key>
	<string>./bin.tar</string>
	<key>RamdiskReboot</key>
	<string>./reboot.sh</string>
</dict>
</plist>
