*.bbfw
*.dfu
*.dmg
*.im4p
*.ipa
*.ipsw
*.json
*.shsh
*.shsh2
*.so*
*.txt
Cydia*
iP*Custom*/
iP*Restore/
resources/FirmwareBundles/
resources/ipwndfu/
resources/jailbreak/bin.tar
resources/jailbreak/cydia.tar
resources/jailbreak/untether.tar
resources/libimobiledevice*/
resources/libirecovery/
saved/
tmp/
