*.bbfw
*.dfu
*.im4p
*.ipsw
*.json
*.shsh
*.shsh2
*.so*
*.txt
Cydia*
iP*
saved/
resources/FirmwareBundles
resources/firmware/
resources/ipwndfu/
resources/libirecovery/
tmp/
resources/libimobiledevice
.DS_Store