<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone3,1_4.2.1_8C148_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>038-0032-002.dmg</string>
			<key>IV</key>
			<string>9b20ae16bebf4cf1b9101374c3ab0095</string>
			<key>Key</key>
			<string>06849aead2e9a6ca8a82c3929bad5c2368942e3681a3d5751720d2aacf0694c0</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n90ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>IV</key>
			<string>ea8153bd8ef0b7965e1855959f8706ed</string>
			<key>Key</key>
			<string>91fb8c543820ad313578a175d28e74caac973759a766167e423d872dae361ca7</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n90</string>
			<key>File</key>
			<string>kernelcache.release.n90</string>
			<key>IV</key>
			<string>318e0d3de933babc06d6500d9a6af759</string>
			<key>Key</key>
			<string>9c32276861ad6935b5ed0af954de8953d569492b14be3600fa5fe93d4b8210e3</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo-640x960.s5l8930x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>0dcee7d1b9982793558d588d84c44af0</string>
			<key>Key</key>
			<string>91866d7b929b971c72fa6e90530a5b2a361bed9486f2cb884b632f61253ed204</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>45bbf0fa98573425fa21dc6e529eba6b</string>
			<key>Key</key>
			<string>32398d3d1328ed3f0e1949446a1357585ae1973b3c8434b83df49ac55cf45d06</string>
			<key>Patch</key>
			<string>iBSS.n90ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone3,1_4.2.1_8C148</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>038-0019-002.dmg</string>
	<key>RootFilesystemKey</key>
	<string>b2ee5018ef7d02e45ef67449d9e2ed5f876efae949de64a9a93dbcf7ff9ed84e041e9167</string>
	<key>RootFilesystemMountVolume</key>
	<string>Jasper8C148.N90OS</string>
	<key>RootFilesystemSize</key>
	<integer>930</integer>
	<key>SHA1</key>
	<string>366b28e9c95936bd4b11a84d54fefaf079fd6411</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
