<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string>http://appldnld.apple.com/iPhone4/041-1012.20110503.tmmBc/iPad2,1_4.3.3_8J2_Restore.ipsw</string>
	<key>Filename</key>
	<string>iPad2,1_4.3.3_8J2_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>038-1495-003.dmg</string>
			<key>IV</key>
			<string></string>
			<key>Key</key>
			<string></string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k93ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93ap.production/DeviceTree.k93ap.img3</string>
			<key>IV</key>
			<string>f342ca096feea198dcecaccf4d6ceaab</string>
			<key>Key</key>
			<string>37b6cfe5fecba5f1822df1bed4123d2d9e20e52cb5898b7903a4eb8a958b603a</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.k93</string>
			<key>File</key>
			<string>kernelcache.release.k93</string>
			<key>IV</key>
			<string>2dbde04cf5f4288d686295d5ae261f39</string>
			<key>Key</key>
			<string>ded845427dbc580c2382a6427e92253d47da4f95aa4e5f87411b36b6f4374002</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8940x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93ap.production/applelogo.s5l8940x.img3</string>
			<key>IV</key>
			<string>5e9e57d087bfd5f60b73fcd1ea52a727</string>
			<key>Key</key>
			<string>af4ac4335be75a5c75b31c418c7bab71d09610786bc8dad28416aba053296ead</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k93ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>a98aab2fc688b1490fc019088c94635c</string>
			<key>Key</key>
			<string>c5561f3075b8004ee16f2a47a4490ef3771506ccba428d1ab90742b3d2e2b7e0</string>
			<key>Patch</key>
			<string>iBEC.k93ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k93ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>59fd32ebe84a12ad18a524a0b5aae3c2</string>
			<key>Key</key>
			<string>a203f60ad4e03bfba75917d46a7e03bfb28007b138ee629fe89342bd6517958d</string>
			<key>Patch</key>
			<string>iBSS.k93ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPad2,1_4.3.3_8J2</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>038-1425-003.dmg</string>
	<key>RootFilesystemKey</key>
	<string>7ac7018b57235d34fcbe0c84713ea7c6c482322559336845d299508f6a8643c2078de051</string>
	<key>RootFilesystemMountVolume</key>
	<string>Durango8J2.K93OS</string>
	<key>RootFilesystemSize</key>
	<integer>1500</integer>
	<key>SHA1</key>
	<string>71142e8c876ceaf64799727fc79726d1264aab6c</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
