<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentitiesPatches</key>
	<dict>
		<key>UniqueBuildID</key>
		<data>RbzAXeFgNq/YYimL8v7L6xPvI2Q=</data>
		<key>Manifest</key>
		<dict>
			<key>RestoreRamDisk</key>
			<dict>
				<key>Digest</key>
				<data>iIAxhUXqVmz+44ZiP0wQANYfNI8=</data>
			</dict>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPad3,1_8.4.1_12H321_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Remove nosuid and nodev from /private/var</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-23954-023.dmg</string>
			<key>IV</key>
			<string>7cc8ed60cb50ad74323c01a0ee4483b3</string>
			<key>Key</key>
			<string>5d04483bc5863692a56884a3216ee08d96d4a593897630eb179b008c04b9ebb0</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/RestoreDeviceTree</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.j1ap.production/DeviceTree.j1ap.img3</string>
			<key>IV</key>
			<string>2e0ec7a136b34d93527aed0957945231</string>
			<key>Key</key>
			<string>02b1fe2b74a8592aa1baf8a8f1ecb768ca33c7a2616f5a791766e0e8e1f04a7e</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/RestoreKernelCache</string>
			<key>File</key>
			<string>kernelcache.release.j1</string>
			<key>IV</key>
			<string>6351467627ff19918f08df13ff7d6511</string>
			<key>Key</key>
			<string>2620c3f911677de9c596ff6e380e5c8082203fa62f8890b83a10f86506ae409d</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/RestoreLogo</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.j1ap.production/applelogo@2x~ipad.s5l8945x.img3</string>
			<key>IV</key>
			<string>3df4d1dea7c24fe4c46d5cff958b69e9</string>
			<key>Key</key>
			<string>1ae2c4ba9b387976f3360c2203d4de6e1996f741678eaa9d9078fd76a57c3b79</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.j1.RELEASE.dfu</string>
			<key>IV</key>
			<string>1d9c3a01d5060390788f54b2f3506a08</string>
			<key>Key</key>
			<string>a46f952d0eb17f6aec56132826395675bc7d1a0a570956fd905e4a0b98b5a874</string>
			<key>Patch</key>
			<string>iBEC.j1.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.j1.RELEASE.dfu</string>
			<key>IV</key>
			<string>c3ea87ed43788dfc3e268abdf1af27dd</string>
			<key>Key</key>
			<string>cd3dd7eee07b9ce8b180d1526632cf86dc7fef7d52352d06af354598ab9cf2ef</string>
			<key>Patch</key>
			<string>iBSS.j1.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPad3,1_8.4.1_12H321</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.j1.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-24578-024.dmg</string>
	<key>RootFilesystemKey</key>
	<string>d379425017196689d48ff5ea230e3adaafc342407e80f5d2af158c45577bbc96dcfeeb09</string>
	<key>RootFilesystemMountVolume</key>
	<string>Donner12H321</string>
	<key>RootFilesystemSize</key>
	<integer>2217</integer>
	<key>SHA1</key>
	<string>c61165a638a16ddd9f607f589f1754613960c69a</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>needPref</key>
	<true/>
	<key>hwmodel</key>
	<string>J1</string>
	<key>PackagePath</key>
	<string>./Cydia8.tar</string>
	<key>UntetherPath</key>
	<string>./untether.tar</string>
	<key>RamdiskPackage</key>
	<string>./bin.tar</string>
	<key>RamdiskReboot</key>
	<string>./reboot.sh</string>
</dict>
</plist>
