<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string>http://appldnld.apple.com/iPhone4/041-0369.20110311.Xzsew/iPad2,2_4.3_8F191_Restore.ipsw</string>
	<key>Filename</key>
	<string>iPad2,2_4.3_8F191_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>038-0789-002.dmg</string>
			<key>IV</key>
			<string>f9ea89a95c266ceda3fe83413b3fcbf1</string>
			<key>Key</key>
			<string>9a4a7f60e779cbe4a39c8a32be28088b5363d9aab0e9afec0d2700cf35a66793</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k94ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k94ap.production/DeviceTree.k94ap.img3</string>
			<key>IV</key>
			<string>1afc5c1eb04dbe31675cd17d6aba2150</string>
			<key>Key</key>
			<string>6a144a02e651d30e0cd2c800c46073ae5965fb1dcf7a0bffbb3fe95f80b9d17b</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.k94</string>
			<key>File</key>
			<string>kernelcache.release.k94</string>
			<key>IV</key>
			<string>1f1901b32dabf156014c136995ecd740</string>
			<key>Key</key>
			<string>27cae2a993156f125563816d4d55d0375486e0541c8f82453d79fc42018a477f</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8940x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k94ap.production/applelogo.s5l8940x.img3</string>
			<key>IV</key>
			<string>57b455cd15d4bafffd5128b6f4ca464d</string>
			<key>Key</key>
			<string>b29750c68eb22b1c6e80db043170b2e1c9d182f172cdfc8613ffea5783a3a9cb</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k94ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>423241493a964c8c093a01f85cd58068</string>
			<key>Key</key>
			<string>e39efe2ff25eee2ba39fbc048dae3a0689a907e5089da352c4b9ba7fa522c9c4</string>
			<key>Patch</key>
			<string>iBEC.k94ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k94ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>886f95d275ee6644b2fe557ae0e533b2</string>
			<key>Key</key>
			<string>960e7e93304f61af638102552f38b729782e99ed09fd94660757e57d26e29454</string>
			<key>Patch</key>
			<string>iBSS.k94ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPad2,2_4.3_8F191</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>038-0777-002.dmg</string>
	<key>RootFilesystemKey</key>
	<string>f0cfeddc42e18beca1cf88908f3089ded8d9b0b47e21814ec1f6a1754a83e4a9e441ad92</string>
	<key>RootFilesystemMountVolume</key>
	<string>Durango8F191.K94OS</string>
	<key>RootFilesystemSize</key>
	<integer>1500</integer>
	<key>SHA1</key>
	<string>03f4af63f7751e429aef57ae00e675f96b271573</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
