<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string>http://appldnld.apple.com/iPhone4/041-0556.20110325.64rfg/iPad2,1_4.3.1_8G4_Restore.ipsw</string>
	<key>Filename</key>
	<string>iPad2,1_4.3.1_8G4_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>038-0919-005.dmg</string>
			<key>IV</key>
			<string></string>
			<key>Key</key>
			<string></string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k93ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93ap.production/DeviceTree.k93ap.img3</string>
			<key>IV</key>
			<string>aa3cdb7d5a79e7b86b87fd439554319a</string>
			<key>Key</key>
			<string>b8dd4de83879488b58f0ee3479a2b91b870669393726dd55f98bd33460f9a0c7</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.k93</string>
			<key>File</key>
			<string>kernelcache.release.k93</string>
			<key>IV</key>
			<string>13f9d1b0cf4005f9da261d5bbf9a0dc4</string>
			<key>Key</key>
			<string>b4deb76d697d6e33337661a06e584fe0e3f2b8646d2da8f2c630265f8037b529</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8940x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93ap.production/applelogo.s5l8940x.img3</string>
			<key>IV</key>
			<string>57b455cd15d4bafffd5128b6f4ca464d</string>
			<key>Key</key>
			<string>b29750c68eb22b1c6e80db043170b2e1c9d182f172cdfc8613ffea5783a3a9cb</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k93ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>234ebd568ffe6fcb360c42ed3e26bcc9</string>
			<key>Key</key>
			<string>42bc06bb187e1d88e3ba94fb718607138c610e848b8a471138ec9dcc064a8ef8</string>
			<key>Patch</key>
			<string>iBEC.k93ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k93ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>e03e66cc3cd1fbf4bfe6a92a9402679f</string>
			<key>Key</key>
			<string>fd7bc94446fc3b48992837d992488e4f0e64049d89ceda2683976a7cc591e116</string>
			<key>Patch</key>
			<string>iBSS.k93ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPad2,1_4.3.1_8G4</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>038-0887-005.dmg</string>
	<key>RootFilesystemKey</key>
	<string>6f7502e91f3239f907b6bf8955f191b276ec57c392d2beffb3fbc5392da0bc86e65d684e</string>
	<key>RootFilesystemMountVolume</key>
	<string>Durango8G4.K93OS</string>
	<key>RootFilesystemSize</key>
	<integer>1500</integer>
	<key>SHA1</key>
	<string>becf01c807e4c9f2654e3ffd1b83973f512ae51d</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
