<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string>http://appldnld.apple.com/iPhone4/041-0334.20110311Plgt5/iPad2,3_4.3_8F191_Restore.ipsw</string>
	<key>Filename</key>
	<string>iPad2,3_4.3_8F191_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>038-0789-002.dmg</string>
			<key>IV</key>
			<string>f9ea89a95c266ceda3fe83413b3fcbf1</string>
			<key>Key</key>
			<string>9a4a7f60e779cbe4a39c8a32be28088b5363d9aab0e9afec0d2700cf35a66793</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k95ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k95ap.production/DeviceTree.k95ap.img3</string>
			<key>IV</key>
			<string>3741d9578c37903170f467df974caafa</string>
			<key>Key</key>
			<string>321d567487d2baa24884281f869678383f19ee9b7417f15f53b5c74486b41317</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.k95</string>
			<key>File</key>
			<string>kernelcache.release.k95</string>
			<key>IV</key>
			<string>9fc4c0cdc09adc9de8527a28f450cb2d</string>
			<key>Key</key>
			<string>41598719beeabf8121a96b1a603096e2c9bb072a7872489a9a13669ef1170d1a</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8940x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k95ap.production/applelogo.s5l8940x.img3</string>
			<key>IV</key>
			<string>57b455cd15d4bafffd5128b6f4ca464d</string>
			<key>Key</key>
			<string>b29750c68eb22b1c6e80db043170b2e1c9d182f172cdfc8613ffea5783a3a9cb</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k95ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>3fe7d08bf854c0260e5d028e79347119</string>
			<key>Key</key>
			<string>5bacbc97be18014db7322d33b202be32c4e614ff893e94167f2fb3a5800cb045</string>
			<key>Patch</key>
			<string>iBEC.k95ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k95ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>c0ece5d72566bb7719727fef1e7d2a88</string>
			<key>Key</key>
			<string>00b568c49afce7dacd0db4a37face4b69e97e86286e376eaee033f2349545d17</string>
			<key>Patch</key>
			<string>iBSS.k95ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPad2,3_4.3_8F191</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>038-0778-002.dmg</string>
	<key>RootFilesystemKey</key>
	<string>afca354957f1ec34ad014d05b58ecb6d839abd2b47bc72247cdf8927583aac1b7c35792a</string>
	<key>RootFilesystemMountVolume</key>
	<string>Durango8F191.K95OS</string>
	<key>RootFilesystemSize</key>
	<integer>1500</integer>
	<key>SHA1</key>
	<string>435b84104aa3f0ae7883f9d6b1a7a3e96e552dd2</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
