<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone3,2_7.1.2_11D257_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-4107-013.dmg</string>
			<key>IV</key>
			<string>4d45b18575f0e48ef0c1f1fea1663e0e</string>
			<key>Key</key>
			<string>2ab11294614e2fda8e8c806208e3bd96337877673e166702e5f5df558da48b09</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n90bap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90bap.production/DeviceTree.n90bap.img3</string>
			<key>IV</key>
			<string>206e596d02d01842941d90ad71f4265f</string>
			<key>Key</key>
			<string>38f09516b60d5d2839ac7ed8d6f288af53babf8d49d1b70bc509170c3dcd0f2a</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n90b</string>
			<key>File</key>
			<string>kernelcache.release.n90b</string>
			<key>IV</key>
			<string>054fa7c7537f0d7f5271349656d729e6</string>
			<key>Key</key>
			<string>f24fa28626283eb1e252fec878ab0716d0fd7b6e62cf114fcd1ce132ba96d633</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8930x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90bap.production/applelogo@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>2287b716b833ba84566cf365e3368d37</string>
			<key>Key</key>
			<string>2ab11294614e2fda8e8c806208e3bd96337877673e166702e5f5df558da48b09</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n90bap.RELEASE.dfu</string>
			<key>IV</key>
			<string>a6ff0ef84ca1c536f540b81c0c858858</string>
			<key>Key</key>
			<string>45f08035e58d63e6426f1b81fa760e6019b37a42c5286b108b4c37f58e0bc06b</string>
			<key>Patch</key>
			<string>iBEC.n90bap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n90bap.RELEASE.dfu</string>
			<key>IV</key>
			<string>a5e8a7cd8e659db3b6f983409b98b66c</string>
			<key>Key</key>
			<string>42865aa964f0cba160d173794530e40e46910e14383f3ac9d24cd650ebdb9926</string>
			<key>Patch</key>
			<string>iBSS.n90bap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone3,2_7.1.2_11D257</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n90b.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-4498-010.dmg</string>
	<key>RootFilesystemKey</key>
	<string>10a8d34290659b33117f5b6dfe59055d6a38400819dbbecfd3ad50b7b68619c5bf10f852</string>
	<key>RootFilesystemMountVolume</key>
	<string>Sochi11D257.N90bOS</string>
	<key>RootFilesystemSize</key>
	<integer>1515</integer>
	<key>SHA1</key>
	<string>b3c0c0adc95ae2ae1184e9aa111845cd705975d9</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
