<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentitiesPatches</key>
	<dict>
		<key>UniqueBuildID</key>
		<data>6k6aeJJ6bpXZW+P3p1Pmy9NttuM=</data>
		<key>Manifest</key>
		<dict>
			<key>RestoreRamDisk</key>
			<dict>
				<key>Digest</key>
				<data>W1s9h0o+OyNm+s3fBxFQQRoLNbA=</data>
			</dict>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPad2,7_8.4.1_12H321_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Remove nosuid and nodev from /private/var</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-23992-023.dmg</string>
			<key>IV</key>
			<string>e5b83c6da165d16009d4a73bbd36957d</string>
			<key>Key</key>
			<string>eb88193a37a2ec282f754d9115496103b9ca81b24549fff9df29f4fa03375536</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/RestoreDeviceTree</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p107ap.production/DeviceTree.p107ap.img3</string>
			<key>IV</key>
			<string>ade3c16e5919c6a820d631c95da3fae2</string>
			<key>Key</key>
			<string>7faab4991cefdea2b460305e45c1557d4dddd072ddf492a8f756e5ece156f238</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/RestoreKernelCache</string>
			<key>File</key>
			<string>kernelcache.release.p107</string>
			<key>IV</key>
			<string>505d5717132faa13c35daac2d76d2d19</string>
			<key>Key</key>
			<string>8c53d8a9c6358a7ae89a207bdd0e02538be3eccf6f32925ea81a61e9d28d4859</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/RestoreLogo</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p107ap.production/applelogo.s5l8942x.img3</string>
			<key>IV</key>
			<string>a5fcfc2bd24e4d134a1813852d8489ef</string>
			<key>Key</key>
			<string>6889fbdf361060167c6a7d9a655d032a23b5c77d4360cee8f8b79f487fb6caa7</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.p107.RELEASE.dfu</string>
			<key>IV</key>
			<string>6569eed96df512cc8e8807a50fe79270</string>
			<key>Key</key>
			<string>23c2d76e12dbef7c2a107d8733b96dc79cbbb353bf649cdc7fea63c91904f623</string>
			<key>Patch</key>
			<string>iBEC.p107.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.p107.RELEASE.dfu</string>
			<key>IV</key>
			<string>fa39c596b6569e572d90f0820e4e4357</string>
			<key>Key</key>
			<string>34b359fcc729a0f0d2853e786a78b245ed36a9212c8296aaab95dc0401cf07de</string>
			<key>Patch</key>
			<string>iBSS.p107.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPad2,7_8.4.1_12H321</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.p107.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-23932-023.dmg</string>
	<key>RootFilesystemKey</key>
	<string>0050f28d78a0d0414a7c4ba6bb6a5a42dc5ad0031233db4d54dc379763974827ed2c094a</string>
	<key>RootFilesystemMountVolume</key>
	<string>Donner12H321</string>
	<key>RootFilesystemSize</key>
	<integer>1976</integer>
	<key>SHA1</key>
	<string>feff67c4e3e759ac0a2880cd6a5e3568e8ebee7c</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>needPref</key>
	<true/>
	<key>hwmodel</key>
	<string>P107</string>
	<key>PackagePath</key>
	<string>./freeze.tar</string>
	<key>UntetherPath</key>
	<string>./untether.tar</string>
	<key>RamdiskPackage</key>
	<string>./bin.tar</string>
	<key>RamdiskReboot</key>
	<string>./reboot.sh</string>
</dict>
</plist>
