bpylist2
rich
requests
click

fastapi<0.125.0
pydantic<2.0

aiofiles
arrow
asn1
coloredlogs
construct>=2.9.29
cryptography>=41.0.1,<49
daemonize
developer-disk-image>=0.0.2
gpxpy<1.6.0
hexdump
hyperframe
ifaddr
inquirer3>=0.1.0
ipsw-parser==1.2.2
IPython
nest-asyncio>=1.5.5
opack
packaging
parameter-decorators
Pillow
prompt-toolkit
psutil
pycrashreport>=1.2.2
pygnuutils>=0.0.7
pykdebugparser>=1.2.4
pytun-pmd3>=2.0.5
pyusb>=1.2.1
remotezip
srptools
sslpsk-pmd3>=1.0.3
starlette
tqdm
uvicorn>=0.15.0
wsproto
xonsh
zeroconf

pygments
pyimg4==0.8
