requests
click
packaging
coloredlogs
hexdump
inquirer3>=0.1.0
cryptography>=41.0.1,<49
construct>=2.9.29
IPython
ifaddr
zeroconf
hyperframe
fastapi<0.125.0
pydantic<2.0
uvicorn>=0.15.0
aiofiles
opack
pytun-pmd3>=2.0.5
srptools
parameter-decorators
pygnuutils>=0.0.7
xonsh
