<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RootFilesystem</key>
	<string>048-2475-005.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1088</integer>
	<key>Filename</key>
	<string>iPad2,2_6.1.3_10B329_Restore.ipsw</string>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>Name</key>
	<string>iPhone2,2_6.1.3_10B329</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.k94.plist</string>
	<key>SHA1</key>
	<string>1b7897aea7b23d2e00e3d3c5c0ad2a0c47b345cd</string>
	<key>BuildIdentitiesPatches</key>
	<dict>
		<key>UniqueBuildID</key>
		<data>8iAuVn4UX8D2WcdqFQyoa+kz0FQ=</data>
		<key>Manifest</key>
		<dict>
			<key>RestoreRamDisk</key>
			<dict>
				<key>Digest</key>
				<data>soTe26MUEWqoKnxbAlm9uDrYEA4=</data>
				<key>PartialDigest</key>
				<data>QAAAAHhwMwEwggsDt8v7VOdjNK99c7EacJVHFA==</data>
			</dict>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>RootFilesystemMountVolume</key>
	<string>BrightonMaps10B329.K94OS</string>
	<key>FirmwarePatches</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k94ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>b1bd1dc5e6076054392be054d50711ae70e8fcf31a47899fb90ab0ff3111b687</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBSS.k94ap.RELEASE.patch</string>
			<key>IV</key>
			<string>bc3c9f168d7fb86aa219b7ad8039584b</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k94ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>f4b314ce6b84de8c2bcfc9e6821a657b964767253e214f44af33b141703f6606</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBEC.k94ap.RELEASE.patch</string>
			<key>IV</key>
			<string>2a160d86a7cb6c976009725a9d8c009c</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k94ap.production/DeviceTree.k94ap.img3</string>
			<key>Key</key>
			<string>dbb0ade4c92ec6e561dd51f513ea0332b490f89f4a168f11efc1e9967c02847d</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k94ap.img3</string>
			<key>IV</key>
			<string>43fdbf9046da468ecc944bb4bee19879</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k94ap.production/applelogo.s5l8940x.img3</string>
			<key>Key</key>
			<string>0e7aa7bbcfddc88dfe0e56e021363028502621c52c709afc3744850977e2fb9f</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8940x.img3</string>
			<key>IV</key>
			<string>623b2592ad563ea16bd8a86af6960bcb</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-2516-005.dmg</string>
			<key>Key</key>
			<string>66affb95fd5f5e9b976cee5822c563dd111069746f13200c5641c500600f1426</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
			<key>IV</key>
			<string>b59813148a1246ef4f4e3a5aa70ac471</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.k94</string>
			<key>Key</key>
			<string>c835455a98365c5c0dda77348109a0e88faea4e4d879a0f07a4bece7b4cc64ac</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.k94</string>
			<key>TypeFlag</key>
			<integer>4</integer>
			<key>IV</key>
			<string>c3e3ba1bb5627935d508c9fdf2490eba</string>
		</dict>
	</dict>
	<key>RootFilesystemKey</key>
	<string>19703b03962ad004afeab0f80fcff0dd2e3ddca02c9f0e08bcd635884e941797c0b9dece</string>
</dict>
</plist>
