<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone3,1_4.3.5_8L1_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>038-2265-002.dmg</string>
			<key>IV</key>
			<string></string>
			<key>Key</key>
			<string></string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n90ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>IV</key>
			<string>1d4ef80ab147f5bce75d73c49f82e932</string>
			<key>Key</key>
			<string>6e5c635103889247829075ded26d2f60a1d44caba3f23a9c55e97dfdc52883ae</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n90</string>
			<key>File</key>
			<string>kernelcache.release.n90</string>
			<key>IV</key>
			<string>d3e63e2ec8644d71700b6219481e9ab6</string>
			<key>Key</key>
			<string>a076ca188f08d13364406a357c05e1776b5225537545da21d137ea38ab850341</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo-640x960.s5l8930x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>bd6eae47ffd9aecfb36245db70a72412</string>
			<key>Key</key>
			<string>195a152a260fae31fb5085e8736132be44f15973c47330aebcaea3f121713e83</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>00ba61665022e97cacb71493f3e92533</string>
			<key>Key</key>
			<string>85d0388a2b1ce6b4fc68aebb3cb87014b6dd57fde5d9599381db4083a30c3803</string>
			<key>Patch</key>
			<string>iBSS.n90ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone3,1_4.3.5_8L1</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>038-2288-002.dmg</string>
	<key>RootFilesystemKey</key>
	<string>e5e061077217c4937e14d9c4ae1eeb8d69827aa4838168033dd5f1806ab485306a8aa3cf</string>
	<key>RootFilesystemMountVolume</key>
	<string>Durango8L1.N90OS</string>
	<key>RootFilesystemSize</key>
	<integer>930</integer>
	<key>SHA1</key>
	<string>7099307319c669356955e9aff11a3129d6b8d8b4</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
