<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPod5,1_8.4.1_12H321_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Remove nosuid and nodev from /private/var</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-23992-023.dmg</string>
			<key>IV</key>
			<string>601d0a8aa1af6907a27f9680e5c7785d</string>
			<key>Key</key>
			<string>e3ddf7d357feb1f340a8ae23938468f50e071d2ec31d657816d08435cb7fdf14</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPod5,1_8.4.1_12H321</string>
	<key>hwmodel</key>
	<string>N78</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n78.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-24051-023.dmg</string>
	<key>RootFilesystemKey</key>
	<string>d0efe3748387105f1851c6161abcddf3cdcde1e02052357116bc50149040d8c6b318b0a3</string>
	<key>RootFilesystemMountVolume</key>
	<string>Donner12H321</string>
	<key>RootFilesystemSize</key>
	<integer>2005</integer>
	<key>SHA1</key>
	<string>cc08267089f5294884a7bfec8bb10dcb197fc20a</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>needPref</key>
	<true/>
	<key>PackagePath</key>
	<string>jailbreak/cydia.tar</string>
	<key>UntetherPath</key>
	<string>jailbreak/untether.tar</string>
	<key>RamdiskPackage</key>
	<string>jailbreak/bin.tar</string>
	<key>RamdiskReboot</key>
	<string>../tmp/reboot.sh</string>
</dict>
</plist>
