<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone3,1_4.1_8B117_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>018-7082-092.dmg</string>
			<key>IV</key>
			<string>103ae8786d55bebdea996a56706641c9</string>
			<key>Key</key>
			<string>a80b3c27041f09d4554bbf4af59dd5bcea38bd4fe2faf82d8d6f62853ec6b337</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n90ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>IV</key>
			<string>c6aca9cbfad934d789ae1b0274907b1f</string>
			<key>Key</key>
			<string>5a97e72449c93c465984c2661bcd78a681ab5e505edf38bf3e3094a4af2644d1</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n90</string>
			<key>File</key>
			<string>kernelcache.release.n90</string>
			<key>IV</key>
			<string>a52166be88417c9a4db00b838512e664</string>
			<key>Key</key>
			<string>19701b9ceac9811d25a5a9cc1718d8b8347ac432c1e8c0660f97fe9cddeb964c</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo-640x960.s5l8930x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>e01950e29b6dab9990555041916ecabf</string>
			<key>Key</key>
			<string>3f1c88e1297b29db7dccee73aaf66076f04abd17180ecad87d2fd993fbd97800</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>c2c5416472e5a0d6f0a25a123d5a2b1c</string>
			<key>Key</key>
			<string>1fbc7dcafaec21a150a51eb0eb99367550e24a077b128831b28c065e61f894a0</string>
			<key>Patch</key>
			<string>iBSS.n90ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone3,1_4.1_8B117</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<key>restoredexternal</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restoredexternal.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>018-7063-114.dmg</string>
	<key>RootFilesystemKey</key>
	<string>2ab6aea67470994ec3453791ac75f6497c081edd1991e560a61dd666ac4b73f43c781739</string>
	<key>RootFilesystemMountVolume</key>
	<string>Baker8B117.N90OS</string>
	<key>RootFilesystemSize</key>
	<integer>930</integer>
	<key>SHA1</key>
	<string>a3f8a333ca181146b862ca6a59c9a6e7c27eba0b</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
