<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone3,1_4.0_8A293_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>018-6306-403.dmg</string>
			<key>IV</key>
			<string>0ab135879934fdd0d689b3d0f8cf8374</string>
			<key>Key</key>
			<string>62aabe3e763eb3669b4922468be2acb787199c6b0ef8ae873c312e458d9b9be3</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n90ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>IV</key>
			<string>3fbb3880298f43dfb7d1bd258b58163d</string>
			<key>Key</key>
			<string>713f68ac63cc25ab91d8d1eab951b2d32dd3e7a4be3a9cab13f2d71c7017225e</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n90</string>
			<key>File</key>
			<string>kernelcache.release.n90</string>
			<key>IV</key>
			<string>8e4c493706b43f9fd92021126bebfeda</string>
			<key>Key</key>
			<string>f241daee7e32a7caf99d55fa0ab17e41501d03d69fe2e02b57688d0b1781e659</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo-640x960.s5l8930x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>eab39b46e705b57f820beeea28ea051e</string>
			<key>Key</key>
			<string>0feb8e5306e2a529e4f7b39e24fc49e90669c15c218d29c55ac734f7516c5519</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>91f94e5d726a2d2f2c7ffad58d4f3b77</string>
			<key>Key</key>
			<string>d05c3c40db40e738926f811b8b1314038d26096c4102461698a49098c47a3fe6</string>
			<key>Patch</key>
			<string>iBSS.n90ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone3,1_4.0_8A293</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<key>restoredexternal</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restoredexternal.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>018-6303-385.dmg</string>
	<key>RootFilesystemKey</key>
	<string>8b2915719d9f90ba5521faad1eadbb3d942991bd55e5a0709f26e9db3931517e054afa50</string>
	<key>RootFilesystemMountVolume</key>
	<string>Apex8A293.N90OS</string>
	<key>RootFilesystemSize</key>
	<integer>930</integer>
	<key>SHA1</key>
	<string>171c2a3995fa149f2a369ccd87f82c5c30da3f88</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
