<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string>http://appldnld.apple.com/iPhone4/041-1914.20110715.Xdw2Q/iPad2,2_4.3.4_8K2_Restore.ipsw</string>
	<key>Filename</key>
	<string>iPad2,2_4.3.4_8K2_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>038-2196-001.dmg</string>
			<key>IV</key>
			<string></string>
			<key>Key</key>
			<string></string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k94ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k94ap.production/DeviceTree.k94ap.img3</string>
			<key>IV</key>
			<string>f9fd17893c8559040de752ce854a8a06</string>
			<key>Key</key>
			<string>9cc2168ed1da9e934e0b3a42a62a78e183a18772443c66897de5624b13b502a4</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.k94</string>
			<key>File</key>
			<string>kernelcache.release.k94</string>
			<key>IV</key>
			<string>d9bcf77b3181ff17d3256a54ee498997</string>
			<key>Key</key>
			<string>5ec04607ac6d8ca46a242cc0ed183d76d70956c9969c50ca57bd3a2a84bfe209</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8940x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k94ap.production/applelogo.s5l8940x.img3</string>
			<key>IV</key>
			<string>6006c4c66c50db5826c5168ce0156c92</string>
			<key>Key</key>
			<string>7660fd03109fc29f535e7e656a25b010de04e4bce4efd5ab84146dd4afbb8875</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k94ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>9cb4df9fe7b310743dd6f48a35a40e11</string>
			<key>Key</key>
			<string>162ef97e615e7658294f37499b86409bd578626e3b9be45ecbec0defa06d8ded</string>
			<key>Patch</key>
			<string>iBEC.k94ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k94ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>e9b4e0bf56a5c2d9b0d26128fe2ee478</string>
			<key>Key</key>
			<string>9752a90ba48ee3a222cf9650a8b7f9a1e3ae700ff4cedb9f7c683a469a814580</string>
			<key>Patch</key>
			<string>iBSS.k94ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPad2,2_4.3.4_8K2</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>038-2180-001.dmg</string>
	<key>RootFilesystemKey</key>
	<string>3907dd20133e8a0bde930d9f3307d3bdf950762c25f8ae7b4f6c8f106949272ccfbf13b0</string>
	<key>RootFilesystemMountVolume</key>
	<string>Durango8K2.K94OS</string>
	<key>RootFilesystemSize</key>
	<integer>1500</integer>
	<key>SHA1</key>
	<string>504c8a4286cb288a6196f3cec17684ac9de5cebd</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
