<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPad3,4_8.4.1_12H321_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-24517-023.dmg</string>
			<key>IV</key>
			<string>104935a03d8baec8c6260ca69280f92c</string>
			<key>Key</key>
			<string>354e528373074b3c2179cba9538902b3dd7c603595a707f883ca6ca4bf14bf7e</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPad3,4_8.4.1_12H321</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.p101.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-24283-023.dmg</string>
	<key>RootFilesystemKey</key>
	<string>ea608bb9323c46fcd119a0ee9fa92e32d1a98827b51170d4efbce0fe11c47863056c5d1d</string>
	<key>RootFilesystemMountVolume</key>
	<string>Donner12H321</string>
	<key>RootFilesystemSize</key>
	<integer>2199</integer>
	<key>SHA1</key>
	<string>e429acf7d2997438ca6e2ee45012d25174d16283</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>needPref</key>
	<true/>
</dict>
</plist>
