<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentitiesPatches</key>
	<dict>
		<key>UniqueBuildID</key>
		<data>cAk3FZk408iw5IMiSAvj21hRZWE=</data>
		<key>Manifest</key>
		<dict>
			<key>RestoreRamDisk</key>
			<dict>
				<key>Digest</key>
				<data>dKo3Kn9R8PeR5H6YncOmfEwm8ug=</data>
			</dict>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPad3,4_8.4.1_12H321_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-24517-023.dmg</string>
			<key>IV</key>
			<string>104935a03d8baec8c6260ca69280f92c</string>
			<key>Key</key>
			<string>354e528373074b3c2179cba9538902b3dd7c603595a707f883ca6ca4bf14bf7e</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/RestoreDeviceTree</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p101ap.production/DeviceTree.p101ap.img3</string>
			<key>IV</key>
			<string>667bff76ee274db0b5658361f040ac89</string>
			<key>Key</key>
			<string>e1c09c81f08dedc06d9aba515e82b3665b7d724b0dd5d9ad012adaf8b7f6268b</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/RestoreKernelCache</string>
			<key>File</key>
			<string>kernelcache.release.p101</string>
			<key>IV</key>
			<string>6a417efd8f6d5fd1bb91c97367b428ca</string>
			<key>Key</key>
			<string>42dc4a9f72b46686f7f53fa76782b108c2fda37056095ddd775eb000b2fdfa7d</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/RestoreLogo</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p101ap.production/applelogo@2x~ipad.s5l8955x.img3</string>
			<key>IV</key>
			<string>adf49517c9d99ba14466e24628cf68db</string>
			<key>Key</key>
			<string>54db70d5cd7dc3c3dc5acbe408a91f0faf7061a9ef6b070da2cb1feb2e7bb04b</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.p101.RELEASE.dfu</string>
			<key>IV</key>
			<string>add7db95ab270c16ddd632cdc9a4ebac</string>
			<key>Key</key>
			<string>77b7990cbb88f3d091aaff10b424ab19c5263f100eb1ee642771500510b0dd42</string>
			<key>Patch</key>
			<string>iBEC.p101.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.p101.RELEASE.dfu</string>
			<key>IV</key>
			<string>a5892a58c90b6d3fb0e0b20db95070d7</string>
			<key>Key</key>
			<string>75612774968009e3f85545ac0088d0d0bb9cb4e2c2970e8f88489be0b9dfe103</string>
			<key>Patch</key>
			<string>iBSS.p101.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPad3,4_8.4.1_12H321</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.p101.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-24283-023.dmg</string>
	<key>RootFilesystemKey</key>
	<string>ea608bb9323c46fcd119a0ee9fa92e32d1a98827b51170d4efbce0fe11c47863056c5d1d</string>
	<key>RootFilesystemMountVolume</key>
	<string>Donner12H321</string>
	<key>RootFilesystemSize</key>
	<integer>2199</integer>
	<key>SHA1</key>
	<string>e429acf7d2997438ca6e2ee45012d25174d16283</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>needPref</key>
	<true/>
</dict>
</plist>
