<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string>http://appldnld.apple.com/iPhone4/041-1924.2011.0715.qP4r3/iPad2,1_4.3.4_8K2_Restore.ipsw</string>
	<key>Filename</key>
	<string>iPad2,1_4.3.4_8K2_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>038-2196-001.dmg</string>
			<key>IV</key>
			<string></string>
			<key>Key</key>
			<string></string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k93ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93ap.production/DeviceTree.k93ap.img3</string>
			<key>IV</key>
			<string>f0c6aa6d1b4c8b4efbe4dac0db0645df</string>
			<key>Key</key>
			<string>e101540a6ae3054a09bdcdb45433b259923c5d43c8937baf0e9e818a8b5e1c80</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.k93</string>
			<key>File</key>
			<string>kernelcache.release.k93</string>
			<key>IV</key>
			<string>7006a84038c21d4281872babd9f480e6</string>
			<key>Key</key>
			<string>1d6d2acb7766252bb2fafab321808e5e08c049b40771ab4072c1a1bb962ae677</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8940x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93ap.production/applelogo.s5l8940x.img3</string>
			<key>IV</key>
			<string>6006c4c66c50db5826c5168ce0156c92</string>
			<key>Key</key>
			<string>7660fd03109fc29f535e7e656a25b010de04e4bce4efd5ab84146dd4afbb8875</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k93ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>24533edcca10bd80b91e0175fb9462f7</string>
			<key>Key</key>
			<string>01127a98808da0fc2365959918b9e96700257008dd7a4b121b1d952046862b84</string>
			<key>Patch</key>
			<string>iBEC.k93ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k93ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>2040ee0811f0463d333cbe97e73ba702</string>
			<key>Key</key>
			<string>cc52d170b81ba00ba736a5509997a0ffc33e0e16618017e8d27c6245aebc4204</string>
			<key>Patch</key>
			<string>iBSS.k93ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPad2,1_4.3.4_8K2</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>038-2179-001.dmg</string>
	<key>RootFilesystemKey</key>
	<string>dd467a5139d280e60b4ec9bfa534eae9e1d782ee74fcecd86f409e9fe799fb945ee76158</string>
	<key>RootFilesystemMountVolume</key>
	<string>Durango8K2.K93OS</string>
	<key>RootFilesystemSize</key>
	<integer>1500</integer>
	<key>SHA1</key>
	<string>f12c297e562c6dbb459a8533b746bd8e36c05ac0</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
