<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentitiesPatches</key>
	<dict>
		<key>UniqueBuildID</key>
		<data>4BRM2aN9L5ZBKJRmSur/LHSebwQ=</data>
		<key>Manifest</key>
		<dict>
			<key>RestoreRamDisk</key>
			<dict>
				<key>Digest</key>
				<data>iIAxhUXqVmz+44ZiP0wQANYfNI8=</data>
			</dict>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPad3,3_8.4.1_12H321_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Remove nosuid and nodev from /private/var</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-23954-023.dmg</string>
			<key>IV</key>
			<string>46d19b38263315054d0122aa1a700d55</string>
			<key>Key</key>
			<string>288c717cc94a98afdbd9f8671c2586269374a709761d4f55ec65bb56581e0e12</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
			<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/RestoreDeviceTree</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.j2aap.production/DeviceTree.j2aap.img3</string>
			<key>IV</key>
			<string>82636e066f841cd08786a9cfb239e350</string>
			<key>Key</key>
			<string>41cd6dc7de49c5f2b72bd7cc20f61c27c7c61738eecd12affbf805c0492708b5</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/RestoreKernelCache</string>
			<key>File</key>
			<string>kernelcache.release.j2a</string>
			<key>IV</key>
			<string>9664ad3b2f5df350d22fe8fd2340aa32</string>
			<key>Key</key>
			<string>b953731b34e0342ddfd5f75a83244df4b4c39c43d83c668b249c8dd9197239e9</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/RestoreLogo</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.j2aap.production/applelogo@2x~ipad.s5l8945x.img3</string>
			<key>IV</key>
			<string>3df4d1dea7c24fe4c46d5cff958b69e9</string>
			<key>Key</key>
			<string>1ae2c4ba9b387976f3360c2203d4de6e1996f741678eaa9d9078fd76a57c3b79</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.j2a.RELEASE.dfu</string>
			<key>IV</key>
			<string>79517c3e4ffc35d3cfe563d0fae93775</string>
			<key>Key</key>
			<string>ff6c7004d45ecfc1ee69f2b0fb2e15c4dc3c7f192563b8254e82edb7e8f426fe</string>
			<key>Patch</key>
			<string>iBEC.j2a.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.j2a.RELEASE.dfu</string>
			<key>IV</key>
			<string>e6b041970cd611c8a1561a4c210bc476</string>
			<key>Key</key>
			<string>aec6a888d45bd26106ac620d7d4ec0c160ab80276deedc1b50ce8f5d99dcc9af</string>
			<key>Patch</key>
			<string>iBSS.j2a.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPad3,3_8.4.1_12H321</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.j2a.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-24073-023.dmg</string>
	<key>RootFilesystemKey</key>
	<string>d4fbc7969e1fca62b289d0bc54ae28899a2a45df2a47b9541c520b52e4340fb3777b23af</string>
	<key>RootFilesystemMountVolume</key>
	<string>Donner12H321</string>
	<key>RootFilesystemSize</key>
	<integer>2261</integer>
	<key>SHA1</key>
	<string>bb1e741245266dbd276a7a79c1e83dbb875a5996</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>needPref</key>
	<true/>
	<key>hwmodel</key>
	<string>J2a</string>
	<key>PackagePath</key>
	<string>./freeze.tar</string>
	<key>UntetherPath</key>
	<string>./untether.tar</string>
	<key>RamdiskPackage</key>
	<string>./bin.tar</string>
	<key>RamdiskReboot</key>
	<string>./reboot.sh</string>
</dict>
</plist>
