<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone3,1_4.3.1_8G4_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>038-0902-005.dmg</string>
			<key>IV</key>
			<string></string>
			<key>Key</key>
			<string></string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n90ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>IV</key>
			<string>3abe18d22f1d36d97d4e557ce7b8f4ac</string>
			<key>Key</key>
			<string>1b106adcf69295199ed1410c36a15459cab3b58dde1f1339d5537c56f169d949</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n90</string>
			<key>File</key>
			<string>kernelcache.release.n90</string>
			<key>IV</key>
			<string>12028a7ee6b2ac6e610b45842c4d470f</string>
			<key>Key</key>
			<string>2a300468d54cbaa75f161eecb5cdf518fd8b747a5aab282a56a0a66a548c080e</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo-640x960.s5l8930x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>a9b367b0f6846483adf0aa55c21c6716</string>
			<key>Key</key>
			<string>4243444e8633ddfb676089f49b0852ccd840f4c367910842ce7a3f6e263d277a</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>a441763f051b5537aeefefedf3cf52c9</string>
			<key>Key</key>
			<string>bbf0968d5799f444aae52bdf9a2f9ae26d30d94e8de1f9867fba82da220fc852</string>
			<key>Patch</key>
			<string>iBSS.n90ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone3,1_4.3.1_8G4</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>038-0937-003.dmg</string>
	<key>RootFilesystemKey</key>
	<string>f6331068497fa4741e135329c399f69b3c109854835789cc6f23f759f333f5e7bbfcdde7</string>
	<key>RootFilesystemMountVolume</key>
	<string>Durango8G4.N90OS</string>
	<key>RootFilesystemSize</key>
	<integer>930</integer>
	<key>SHA1</key>
	<string>6694f69c84d36248d5bb71ba78ddb1f4946260f0</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
