<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string>http://appldnld.apple.com/iPhone4/041-0664.20110414.39vUS/iPad2,2_4.3.2_8H7_Restore.ipsw</string>
	<key>Filename</key>
	<string>iPad2,2_4.3.2_8H7_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>038-1042-007.dmg</string>
			<key>IV</key>
			<string></string>
			<key>Key</key>
			<string></string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k94ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k94ap.production/DeviceTree.k94ap.img3</string>
			<key>IV</key>
			<string>ef13a8f1d4ba5b59e1b25b407ad50830</string>
			<key>Key</key>
			<string>84205a95dc1744c6ac63558c716a842c431e6a4712e7adb59bcf98d17c397bd3</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.k94</string>
			<key>File</key>
			<string>kernelcache.release.k94</string>
			<key>IV</key>
			<string>484f402132d314ee05625c0e69623ebb</string>
			<key>Key</key>
			<string>4c19fa297593ec94f60d1a01af2f0e13af94b9bc3d70aa276fbc27a0103f1f59</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8940x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k94ap.production/applelogo.s5l8940x.img3</string>
			<key>IV</key>
			<string>5e9e57d087bfd5f60b73fcd1ea52a727</string>
			<key>Key</key>
			<string>af4ac4335be75a5c75b31c418c7bab71d09610786bc8dad28416aba053296ead</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k94ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>1ad95e5da174403662fcee1ffe9c0eff</string>
			<key>Key</key>
			<string>95ab889cc9c58e3575d520851fbb2483cf367f657c3b89dc9989dae13487af35</string>
			<key>Patch</key>
			<string>iBEC.k94ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k94ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>4d11aabec5a1883937ecc92f81a4b2cd</string>
			<key>Key</key>
			<string>15b807850e3aa9704d6b8221e66c2f70e844b0147b2c2c0f9e6c36c85e803c50</string>
			<key>Patch</key>
			<string>iBSS.k94ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPad2,2_4.3.2_8H7</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>038-1027-007.dmg</string>
	<key>RootFilesystemKey</key>
	<string>30584c8087f5b7cbc64a9fd0533cc25c69e4844b0b465092b7e30f0074356ce889914481</string>
	<key>RootFilesystemMountVolume</key>
	<string>Durango8H7.K94OS</string>
	<key>RootFilesystemSize</key>
	<integer>1500</integer>
	<key>SHA1</key>
	<string>e52bd4bd8eabd48e5cfd02f895292d5644e805be</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
