<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentitiesPatches</key>
	<dict>
		<key>UniqueBuildID</key>
		<data>pDKBwm1m6yz2+fqPvqp9bDYBpaU=</data>
		<key>Manifest</key>
		<dict>
			<key>RestoreRamDisk</key>
			<dict>
				<key>Digest</key>
				<data>6YT8kmZto76bYGIappOkcqg4gqg=</data>
			</dict>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPad2,3_8.4.1_12H321_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-24341-023.dmg</string>
			<key>IV</key>
			<string>1d7acf1f3514d0b79b86a026f9eec86f</string>
			<key>Key</key>
			<string>2e005574de2bce7ec02ba87e5d3676fce481313206e12c6ff908d401298cbccd</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k95ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k95ap.production/DeviceTree.k95ap.img3</string>
			<key>IV</key>
			<string>9f1dd056d28cb0afd775a31910ecbc35</string>
			<key>Key</key>
			<string>2aeb4fa57f51a2246b1521cc81f18ceef7205e75de9610d60044c701858560ea</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.k95</string>
			<key>File</key>
			<string>kernelcache.release.k95</string>
			<key>IV</key>
			<string>1a8ae97c20ddf5008133ddb159f93dab</string>
			<key>Key</key>
			<string>1d1e7b65358637fd062b08d0892a8401e395b40ac284c92c3809f94469d5da43</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8942x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k95ap.production/applelogo.s5l8940x.img3</string>
			<key>IV</key>
			<string>7024762156bac507f28dca8c1bb2f3d1</string>
			<key>Key</key>
			<string>bec85f0507dbec46982ff08e37b551310195dcf4f885649aab0162f729160066</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k95.RELEASE.dfu</string>
			<key>IV</key>
			<string>2cec1c5aa4a6fbc8630ef22a668271c0</string>
			<key>Key</key>
			<string>0f8e5042b574f246016c04b904dce329fcf0adcc08d23357058d9e5bd5e586e1</string>
			<key>Patch</key>
			<string>iBEC.k95.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k95.RELEASE.dfu</string>
			<key>IV</key>
			<string>460116385cca6d5596221c58ae122669</string>
			<key>Key</key>
			<string>7852f1fd93d9d49ebea44021081e8f1dffa336d0d3e9517374f8be451dd92eb7</string>
			<key>Patch</key>
			<string>iBSS.k95.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPad2,3_8.4.1_12H321</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.k95.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-24079-023.dmg</string>
	<key>RootFilesystemKey</key>
	<string>8060569c71b2ff3bc9fa9778f3aac5cb8ed655a7aad01bb69ad2e4d019b7d72bba7e7fb2</string>
	<key>RootFilesystemMountVolume</key>
	<string>Donner12H321</string>
	<key>RootFilesystemSize</key>
	<integer>1822</integer>
	<key>SHA1</key>
	<string>0c756073a53bc62f2e4e94e2ae8e85ded773778a</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
