<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SystemPartitionPadding</key>
	<dict>
		<key>128</key>
		<integer>1280</integer>
		<key>16</key>
		<integer>160</integer>
		<key>32</key>
		<integer>320</integer>
		<key>64</key>
		<integer>640</integer>
		<key>8</key>
		<integer>80</integer>
	</dict>
	<key>SystemPartitionSize</key>
	<integer>1589</integer>
</dict>
</plist>
