<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string>http://appldnld.apple.com/iPhone4/041-1917.2011.715.ZbLkn/iPad2,3_4.3.4_8K2_Restore.ipsw</string>
	<key>Filename</key>
	<string>iPad2,3_4.3.4_8K2_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>038-2196-001.dmg</string>
			<key>IV</key>
			<string></string>
			<key>Key</key>
			<string></string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k95ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k95ap.production/DeviceTree.k95ap.img3</string>
			<key>IV</key>
			<string>6352e35c41ed8fd28f2b185a0bc7b234</string>
			<key>Key</key>
			<string>37b2d2216a686ce0558335722fd8042454e48cb57550560497025e1d862613f8</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.k95</string>
			<key>File</key>
			<string>kernelcache.release.k95</string>
			<key>IV</key>
			<string>dff4b161116e39d4532b687878865270</string>
			<key>Key</key>
			<string>58ed3c3ef708b6026ccced5b1e62247f49638727baae8011db3cc5c5aac16cbe</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8940x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k95ap.production/applelogo.s5l8940x.img3</string>
			<key>IV</key>
			<string>6006c4c66c50db5826c5168ce0156c92</string>
			<key>Key</key>
			<string>7660fd03109fc29f535e7e656a25b010de04e4bce4efd5ab84146dd4afbb8875</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k95ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>b3312e4a05787cdd7bc740e84939a875</string>
			<key>Key</key>
			<string>d766ba0876a0ee7e44247ca805d5eb6f7025a1bee930b5c4d4a8286a39a7e199</string>
			<key>Patch</key>
			<string>iBEC.k95ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k95ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>3b744d907f079276b656f531a9e82b18</string>
			<key>Key</key>
			<string>35fc1516e1fb9507cd7c7072919adeddfc89c86ebbe2ef0afa0659f95e8d66fd</string>
			<key>Patch</key>
			<string>iBSS.k95ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPad2,3_4.3.4_8K2</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>038-2183-001.dmg</string>
	<key>RootFilesystemKey</key>
	<string>b314630e05038f97f2d5325b11989634049c5d5d290cc87b9ea7cfd02936b92e76e8f65f</string>
	<key>RootFilesystemMountVolume</key>
	<string>Durango8K2.K95OS</string>
	<key>RootFilesystemSize</key>
	<integer>1500</integer>
	<key>SHA1</key>
	<string>ca17c830b4d847a1d0829817f350850873d43e66</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
