<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone3,1_4.0.1_8A306_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>018-8235-001.dmg</string>
			<key>IV</key>
			<string>5dfa31e28674d44e19ac05148ae7f668</string>
			<key>Key</key>
			<string>79cb7f8c64b6302a58a63a693ce0582df269fad68f6eb9d85340c1f75dbe89d6</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n90ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>IV</key>
			<string>3fbb3880298f43dfb7d1bd258b58163d</string>
			<key>Key</key>
			<string>713f68ac63cc25ab91d8d1eab951b2d32dd3e7a4be3a9cab13f2d71c7017225e</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n90</string>
			<key>File</key>
			<string>kernelcache.release.n90</string>
			<key>IV</key>
			<string>e5b75d5fd254ce8b6b30129ba1c9061b</string>
			<key>Key</key>
			<string>7e701d9373343a2503cc0020c27017e289f637f3ea38ece41b0dc637033f17a1</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo-640x960.s5l8930x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>eab39b46e705b57f820beeea28ea051e</string>
			<key>Key</key>
			<string>0feb8e5306e2a529e4f7b39e24fc49e90669c15c218d29c55ac734f7516c5519</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>91f94e5d726a2d2f2c7ffad58d4f3b77</string>
			<key>Key</key>
			<string>d05c3c40db40e738926f811b8b1314038d26096c4102461698a49098c47a3fe6</string>
			<key>Patch</key>
			<string>iBSS.n90ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone3,1_4.0.1_8A306</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<key>restoredexternal</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restoredexternal.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>018-8229-001.dmg</string>
	<key>RootFilesystemKey</key>
	<string>ebd8aea30e78053112c4062690723fc5ee8e53865d4d6591b64a08216337c5a7aefbc806</string>
	<key>RootFilesystemMountVolume</key>
	<string>Apex8A306.N90OS</string>
	<key>RootFilesystemSize</key>
	<integer>930</integer>
	<key>SHA1</key>
	<string>a9cf20679273b7e502ab384854ba96cc2a54d532</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
