<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string>http://appldnld.apple.com/iPhone4/041-1014.20110503.52dap/iPad2,3_4.3.3_8J2_Restore.ipsw</string>
	<key>Filename</key>
	<string>iPad2,3_4.3.3_8J2_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>038-1495-003.dmg</string>
			<key>IV</key>
			<string></string>
			<key>Key</key>
			<string></string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k95ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k95ap.production/DeviceTree.k95ap.img3</string>
			<key>IV</key>
			<string>e17f40ee43f2e42a1484a190891987d5</string>
			<key>Key</key>
			<string>f6417ce8685800b0497b1e2d52c4c5e5490a3bd060e68768649850b24a7566ce</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.k95</string>
			<key>File</key>
			<string>kernelcache.release.k95</string>
			<key>IV</key>
			<string>461d3fc947e766249755d84cc609bf12</string>
			<key>Key</key>
			<string>4513aa528e821af3055fe214fdac7a9ec56cdece871791522ccc8cc08f102c06</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8940x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k95ap.production/applelogo.s5l8940x.img3</string>
			<key>IV</key>
			<string>5e9e57d087bfd5f60b73fcd1ea52a727</string>
			<key>Key</key>
			<string>af4ac4335be75a5c75b31c418c7bab71d09610786bc8dad28416aba053296ead</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k95ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>fcbd3e09945d9b5fe031f57c9c38504d</string>
			<key>Key</key>
			<string>fb1b6800f6a997eff837242d8f9bdadf99430c0d386122b8ef28dcc8e8ee55aa</string>
			<key>Patch</key>
			<string>iBEC.k95ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k95ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>653b5434941a2bcc5099ac675f3637c6</string>
			<key>Key</key>
			<string>f718c803effb1586f2ace1b6853bc8c0297af4db94b3c1c766c68388584d609d</string>
			<key>Patch</key>
			<string>iBSS.k95ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPad2,3_4.3.3_8J2</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>038-1429-003.dmg</string>
	<key>RootFilesystemKey</key>
	<string>18516a9744529fcf5f01cc12b86fe5db614db6d688d826f20d501b343199f2de921a6310</string>
	<key>RootFilesystemMountVolume</key>
	<string>Durango8J2.K95OS</string>
	<key>RootFilesystemSize</key>
	<integer>1500</integer>
	<key>SHA1</key>
	<string>f087ae60c778f32bdd130043f8b67a96939489f3</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
