<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentitiesPatches</key>
	<dict>
		<key>UniqueBuildID</key>
		<data>FJ/7cGGhbJ01m6fAApGSTG25V9o=</data>
		<key>Manifest</key>
		<dict>
			<key>RestoreRamDisk</key>
			<dict>
				<key>Digest</key>
				<data>W1s9h0o+OyNm+s3fBxFQQRoLNbA=</data>
			</dict>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPad2,5_8.4.1_12H321_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-23992-023.dmg</string>
			<key>IV</key>
			<string>f8edb59fa278db6a9f28c54c75176294</string>
			<key>Key</key>
			<string>ad2da12be31a6f6061069f42223e1df1e3bac83a7f49b839d6a6cb9cdadbb0a5</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/RestoreDeviceTree</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p105ap.production/DeviceTree.p105ap.img3</string>
			<key>IV</key>
			<string>c9c12cfe3a16823f1d678775c7aedc88</string>
			<key>Key</key>
			<string>050f2457801615132e7455b622c8c8dfb65f09d4ff1eb86b5c0a1160678117c2</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/RestoreKernelCache</string>
			<key>File</key>
			<string>kernelcache.release.p105</string>
			<key>IV</key>
			<string>ada137bf6aa705925d8ac5ada6025c11</string>
			<key>Key</key>
			<string>0155c713f32ee5fb9f18187e0b87d19ef38b9e56af121821264163627f894b05</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/RestoreLogo</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p105ap.production/applelogo.s5l8942x.img3</string>
			<key>IV</key>
			<string>a5fcfc2bd24e4d134a1813852d8489ef</string>
			<key>Key</key>
			<string>6889fbdf361060167c6a7d9a655d032a23b5c77d4360cee8f8b79f487fb6caa7</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.p105.RELEASE.dfu</string>
			<key>IV</key>
			<string>8460cab6348e74ba7134ba0f9462b632</string>
			<key>Key</key>
			<string>485ddb5f7e70cecfc25c036f812641b9e55bd97783de1488306e3a80abf6950b</string>
			<key>Patch</key>
			<string>iBEC.p105.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.p105.RELEASE.dfu</string>
			<key>IV</key>
			<string>b21abc8689b0dea8f6e613f9f970e241</string>
			<key>Key</key>
			<string>b9ed63e4a31f5d9d4d7dddc527e65fd31d1ea48c70204e6b44551c1e6dfc52b5</string>
			<key>Patch</key>
			<string>iBSS.p105.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPad2,5_8.4.1_12H321</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.p105.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-24036-023.dmg</string>
	<key>RootFilesystemKey</key>
	<string>21862ddcc49a861ffda17f7c6eca65355d2d1e762026cca60aabc726cd48b9e4cff214ff</string>
	<key>RootFilesystemMountVolume</key>
	<string>Donner12H321</string>
	<key>RootFilesystemSize</key>
	<integer>1953</integer>
	<key>SHA1</key>
	<string>365d4a8e9ea9613c6bdb6db35cba0331580f7ae7</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>needPref</key>
	<true/>
</dict>
</plist>
