<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string>http://appldnld.apple.com/iPhone4/041-0544.20110325.Dew3r/iPad2,3_4.3.1_8G4_Restore.ipsw</string>
	<key>Filename</key>
	<string>iPad2,3_4.3.1_8G4_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>038-0919-005.dmg</string>
			<key>IV</key>
			<string></string>
			<key>Key</key>
			<string></string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k95ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k95ap.production/DeviceTree.k95ap.img3</string>
			<key>IV</key>
			<string>3741d9578c37903170f467df974caafa</string>
			<key>Key</key>
			<string>321d567487d2baa24884281f869678383f19ee9b7417f15f53b5c74486b41317</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.k95</string>
			<key>File</key>
			<string>kernelcache.release.k95</string>
			<key>IV</key>
			<string>7c04da47fdfeeb0bf166a05d90fb87d7</string>
			<key>Key</key>
			<string>b4a141c64b76ead5de8b925403133f5223f77ec725a1beff9d6386ea52d3034b</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8940x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k95ap.production/applelogo.s5l8940x.img3</string>
			<key>IV</key>
			<string>57b455cd15d4bafffd5128b6f4ca464d</string>
			<key>Key</key>
			<string>b29750c68eb22b1c6e80db043170b2e1c9d182f172cdfc8613ffea5783a3a9cb</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k95ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>3fe7d08bf854c0260e5d028e79347119</string>
			<key>Key</key>
			<string>5bacbc97be18014db7322d33b202be32c4e614ff893e94167f2fb3a5800cb045</string>
			<key>Patch</key>
			<string>iBEC.k95ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k95ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>c0ece5d72566bb7719727fef1e7d2a88</string>
			<key>Key</key>
			<string>00b568c49afce7dacd0db4a37face4b69e97e86286e376eaee033f2349545d17</string>
			<key>Patch</key>
			<string>iBSS.k95ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPad2,3_4.3.1_8G4</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>038-0889-005.dmg</string>
	<key>RootFilesystemKey</key>
	<string>1c7414fb1820c1c0a61058587661b1c5fbb68fbeafb77f86014671ee5ddac8360d8cc352</string>
	<key>RootFilesystemMountVolume</key>
	<string>Durango8G4.K95OS</string>
	<key>RootFilesystemSize</key>
	<integer>1500</integer>
	<key>SHA1</key>
	<string>1903162ce3ffa9725304eb78275583977d1808cc</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
