<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentitiesPatches</key>
	<dict>
		<key>UniqueBuildID</key>
		<data>kDmCfTcEYH4By8TNUhF8HBscL7E=</data>
		<key>Manifest</key>
		<dict>
			<key>RestoreRamDisk</key>
			<dict>
				<key>Digest</key>
				<data>W1s9h0o+OyNm+s3fBxFQQRoLNbA=</data>
			</dict>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPad2,4_8.4.1_12H321_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-23992-023.dmg</string>
			<key>IV</key>
			<string>883225914fa6a25aea09a804df23e96f</string>
			<key>Key</key>
			<string>95ca0f3424292cc97b41e3481eebf083453e8c668848d2c170db34bcffb7117b</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k93aap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/DeviceTree.k93aap.img3</string>
			<key>IV</key>
			<string>dd6d2ee190455770e5bb930db280e42d</string>
			<key>Key</key>
			<string>db9945495d24e808cfe305a9a062b28f6c341e4577018482d3f51f7d19057443</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.k93a</string>
			<key>File</key>
			<string>kernelcache.release.k93a</string>
			<key>IV</key>
			<string>7571c911c20b12935ca28fd1f22e023b</string>
			<key>Key</key>
			<string>dcf3723fc23543626910fdf36436386a62d350b4378b4440984d6a16d94b3039</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8942x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/applelogo.s5l8942x.img3</string>
			<key>IV</key>
			<string>a5fcfc2bd24e4d134a1813852d8489ef</string>
			<key>Key</key>
			<string>6889fbdf361060167c6a7d9a655d032a23b5c77d4360cee8f8b79f487fb6caa7</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k93a.RELEASE.dfu</string>
			<key>IV</key>
			<string>27a1dedaf83ccb53088fd9fb82974062</string>
			<key>Key</key>
			<string>019947f0da4258ce36c0fd1b2f3d61fc7add1fd9065cb96be24f86c322832cda</string>
			<key>Patch</key>
			<string>iBEC.k93a.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k93a.RELEASE.dfu</string>
			<key>IV</key>
			<string>976aa656929ac699fff36715de96876d</string>
			<key>Key</key>
			<string>5fe5c47b5620c2b40b1ca2bd1764a92d568901a24e1caf8faf0cf0f84ae11b4e</string>
			<key>Patch</key>
			<string>iBSS.k93a.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPad2,4_8.4.1_12H321</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.k93a.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-23840-023.dmg</string>
	<key>RootFilesystemKey</key>
	<string>4943f64dd3ff8dda78fb7799169a08f78b3e215b4ecc00fb51d40250d60b18f752517b82</string>
	<key>RootFilesystemMountVolume</key>
	<string>Donner12H321</string>
	<key>RootFilesystemSize</key>
	<integer>1784</integer>
	<key>SHA1</key>
	<string>dad2592ec799f6b33bc3ceaf283bdaae2a061a2d</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
