<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPad2,6_8.4.1_12H321_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Remove nosuid and nodev from /private/var</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-23992-023.dmg</string>
			<key>IV</key>
			<string>23ae8ff189edc4484356f881cf1eb5b0</string>
			<key>Key</key>
			<string>31da18e96901301893f72e9774fb9c6fbe554402bf52c26898b9291b7b5dda0f</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPad2,6_8.4.1_12H321</string>
	<key>hwmodel</key>
	<string>P106</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.p106.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-24261-023.dmg</string>
	<key>RootFilesystemKey</key>
	<string>1b84c248aa18483f61723f8678da927a2938b6f8528afe9e0509c3296bfb2fdabb76435c</string>
	<key>RootFilesystemMountVolume</key>
	<string>Donner12H321</string>
	<key>RootFilesystemSize</key>
	<integer>1976</integer>
	<key>SHA1</key>
	<string>7ffdcddafaada626c23311e03f1ab3e567838ce0</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>needPref</key>
	<true/>
	<key>PackagePath</key>
	<string>jailbreak/cydia.tar</string>
	<key>UntetherPath</key>
	<string>jailbreak/untether.tar</string>
	<key>RamdiskPackage</key>
	<string>jailbreak/bin.tar</string>
	<key>RamdiskReboot</key>
	<string>../tmp/reboot.sh</string>
</dict>
</plist>
