<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone3,1_4.0.2_8A400_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>018-8393-002.dmg</string>
			<key>IV</key>
			<string>b662a1cd9b51d43029624adf2c65e56a</string>
			<key>Key</key>
			<string>7f3ed4bd7773bd07f9f4a697b56bc85dc0040907cf1282077d477e9b5c92c53f</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n90ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>IV</key>
			<string>3fbb3880298f43dfb7d1bd258b58163d</string>
			<key>Key</key>
			<string>713f68ac63cc25ab91d8d1eab951b2d32dd3e7a4be3a9cab13f2d71c7017225e</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n90</string>
			<key>File</key>
			<string>kernelcache.release.n90</string>
			<key>IV</key>
			<string>810ad53a78428842df24face82f37b9f</string>
			<key>Key</key>
			<string>22308c2e2c4f34444184253850823c35a0cb73bd433bbd28230bb5e83759f4b7</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo-640x960.s5l8930x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>eab39b46e705b57f820beeea28ea051e</string>
			<key>Key</key>
			<string>0feb8e5306e2a529e4f7b39e24fc49e90669c15c218d29c55ac734f7516c5519</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>91f94e5d726a2d2f2c7ffad58d4f3b77</string>
			<key>Key</key>
			<string>d05c3c40db40e738926f811b8b1314038d26096c4102461698a49098c47a3fe6</string>
			<key>Patch</key>
			<string>iBSS.n90ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone3,1_4.0.2_8A400</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<key>restoredexternal</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restoredexternal.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>018-8380-002.dmg</string>
	<key>RootFilesystemKey</key>
	<string>28bded3ee52eda2f36a241009a493db357b8f19543c07bd3820a35498a1788ce4aa0c54c</string>
	<key>RootFilesystemMountVolume</key>
	<string>Apex8A400.N90OS</string>
	<key>RootFilesystemSize</key>
	<integer>930</integer>
	<key>SHA1</key>
	<string>19eb071cdb9f1601b106825d0a16b1449c6eef8c</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
