<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RootFilesystem</key>
	<string>058-24110-023.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>2058</integer>
	<key>Filename</key>
	<string>iPhone5,2_8.4.1_12H321_Restore.ipsw</string>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>Name</key>
	<string>iPhone5,2_8.4.1_12H321</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>SHA1</key>
	<string>da4e50bf721d91bbd0b4a90ba9df9cdf2e8b9f53</string>
	<key>BuildIdentitiesPatches</key>
	<dict>
		<key>UniqueBuildID</key>
		<data>ybHEo3Fv0y/6IYp0X45hxqDY7zM=</data>
		<key>Manifest</key>
		<dict>
			<key>RestoreRamDisk</key>
			<dict>
				<key>Digest</key>
				<data>IsceeVqQCLCQOuVYWRRghycOAE8=</data>
			</dict>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>RootFilesystemMountVolume</key>
	<string>Donner12H321.N42OS</string>
	<key>FirmwarePatches</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42.RELEASE.dfu</string>
			<key>Key</key>
			<string>74cd68729b800a20b1f8e8a3cb5517024a09f074eaa05b099db530fb5783275e</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBSS.n42.RELEASE.patch</string>
			<key>IV</key>
			<string>fdad2b7a35384fa2ffc7221213ca1082</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42.RELEASE.dfu</string>
			<key>Key</key>
			<string>888f24c26a13fdb2c8182b156d793b1350428e2b6c31a634d16a61752b236dc9</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBEC.n42.RELEASE.patch</string>
			<key>IV</key>
			<string>ba178c287f6ce38acbec569f6adbf170</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>Key</key>
			<string>dccfcf97891d4fa62fef944ff646ce9a81e821883f2b6bc3cc5ca3a22ee90ce9</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>40dc28c4fc1b28df6f44bff7f833b44d</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>Key</key>
			<string>967e260de1a600600ead78fa451865be406c851f8d97da4ddc6d7429173f5648</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>ef41848f4bdd07ea7de5a2bd2d90b989</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-23947-023.dmg</string>
			<key>Key</key>
			<string>9bde35e15c13939b0e910e30f45109103cacabc3c5535a20a79f87d35d4a8c35</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
			<key>IV</key>
			<string>9f3c9ed053e2057f7b2be54a80c3eec8</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>Key</key>
			<string>66b8ca4f732113f54dae9de7d1713093d6c54731c06033eef94489c168a8db3a</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>TypeFlag</key>
			<integer>4</integer>
			<key>IV</key>
			<string>a037ef50ae5bf24ae2d373345b6e5be5</string>
		</dict>
	</dict>
	<key>RootFilesystemKey</key>
	<string>7f68bec2637d5ac0837e38878a8a411c72131fc6394b5a84fd0f878f54f97af3801f34fd</string>
</dict>
</plist>
