<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n92</string>
			<key>IV</key>
			<string>b84212f017d5ffd962db0bbe050581dc</string>
			<key>Key</key>
			<string>92e5720cadf724cdf428d44119b634ab3346aef1ab4e3e20abc8ecb73f7f8642</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n92</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4266-010.dmg</string>
			<key>IV</key>
			<string>ab730b85ad270792ffd33f9c75382d15</string>
			<key>Key</key>
			<string>8b368bd8e2a09f000258f794c95ed405c1078796abefe1f522ec42e248e08f0b</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4107-013.dmg</string>
			<key>IV</key>
			<string>e6562294eb9989aaca7fda5b57065fde</string>
			<key>Key</key>
			<string>ad5cfa520f1018d4083710011f627107389785f425303938e5412dff1aee65bb</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>f5f67870c11f90c5f0f416df89618470</string>
			<key>Key</key>
			<string>579c6275ac9835fe7a4c148ee1e6af5289431996d51fa145a8d5bc438559bdb1</string>
			<key>Patch</key>
			<string>iBSS.n92ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>858cc5776b240dd9c5eac82e56dd6706</string>
			<key>Key</key>
			<string>97c37caee1839d5bf6a51a5d7fbdd5b24d6e4fc50a151d82dd66777825e0efab</string>
			<key>Patch</key>
			<string>iBEC.n92ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/DeviceTree.n92ap.img3</string>
			<key>IV</key>
			<string>8662383170bb93fffe2dbdd181a620da</string>
			<key>Key</key>
			<string>8473b8932e1957c1e650f15cb3b6f49f497e241ebacfaa7d0b1eca3b15fc633c</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n92ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/applelogo@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>2287b716b833ba84566cf365e3368d37</string>
			<key>Key</key>
			<string>73f0cef0f12ed5e43b53c87373a2be672481c4fc0f1f542c5e8da8b7d518611f</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8930x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n92.plist</string>
	<key>RootFilesystem</key>
	<string>058-4110-009.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1522</integer>
	<key>RootFilesystemKey</key>
	<string>423b3503689b7058d1398d1b5d56a7b1ccf4d79e1c3e6ba853122b4f86820a9e3bc911f6</string>
	<key>RootFilesystemMountVolume</key>
	<string>Sochi11D257.N92OS</string>
	<key>SHA1</key>
	<string>aaeda3c8e1979189faa153cdf43e817a3f81f74c</string>
	<key>Filename</key>
	<string>iPhone3,3_7.1.2_11D257_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone3,3_7.1.2_11D257</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
