name: Create zip files
on:
  push:
    branches:
      - main
jobs:
  create-zip-files:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Create name version env
        run: |
          sudo timedatectl set-timezone Asia/Singapore
          echo "DATE=$(date +%y.%m)" >> $GITHUB_ENV
          echo "COUNT=$(git rev-list --count HEAD --since=$(date --date="$(date +%Y-%m-01) - 1 second" +%s) | xargs printf "%02d")" >> $GITHUB_ENV
          echo "SHA_SHORT=$(echo ${{ github.sha }} | cut -c -7)" >> $GITHUB_ENV
          echo "DATE_OLD=$(date +%Y-%m-%d)" >> $GITHUB_ENV
          echo "VERSION=v${{ env.DATE }}.${{ env.COUNT }}" >> $GITHUB_ENV

      - name: Create git hash and version
        run: |
          echo "${{ env.SHA_SHORT }}" | tee ./resources/git_hash
          echo "${{ env.VERSION }}" | tee ./resources/version

      - name: Download some files
        run: |
          mkdir -p saved/firmware
          pushd resources
          curl -L https://github.com/LukeZGD/ipwndfu/archive/ea998f27d737611a30e0d10fbf251d66967022f6.zip -o ipwndfu_python3.zip
          curl -L https://github.com/LukeZGD/ipwndfu/archive/2bc68605dd0dd31ab27fa720452e4ccd4e638d0d.zip -o ipwndfu.zip
          curl -L https://github.com/LukeZGD/Legacy-iOS-Kit-Keys/archive/refs/heads/master.zip -o keys.zip
          unzip keys.zip -d .
          cp -r Legacy-iOS-Kit-Keys-master/* ../saved/firmware
          unzip ipwndfu_python3.zip -d .
          mv ipwndfu*/ ../saved/ipwndfu_python3
          unzip ipwndfu.zip -d .
          mv ipwndfu*/ ../saved/ipwndfu
          rm -rf Legacy-iOS-Kit-Keys-master/ ipwndfu*.zip keys.zip
          echo "7eb59cc50d31078fa7bbc2fddb1e76f74e43c040" > ../saved/ipwndfu_python3/sha1check
          echo "88d8a39c3250d0603086c5ce6911c3df1b43e9cd" > ../saved/ipwndfu/sha1check
          popd

      - name: Move linux binaries
        run: |
          mkdir -p ./exclude/bin
          cp -R ./bin/* ./exclude/bin
          rm -r ./bin/linux

      - name: Zip macos files
        run: zip -r ${{ github.event.repository.name }}_macos_${{ env.VERSION }}.zip bin/ LICENSE resources/ restore.sh README.md saved/

      - name: Move macos binaries
        run: |
          rm -r ./bin/macos
          mkdir ./bin/linux
          cp -R ./exclude/bin/linux/x86_64 ./bin/linux

      - name: Zip linux x86_64 files
        run: zip -r ${{ github.event.repository.name }}_linux_x86_64_${{ env.VERSION }}.zip bin/ LICENSE resources/ restore.sh README.md saved/

      - name: Move linux x86_64 binaries and other files
        run: |
          rm -r ./bin/linux/x86_64
          cp -R ./exclude/bin/linux/arm64 ./bin/linux

      - name: Zip linux arm64 files
        run: zip -r ${{ github.event.repository.name }}_linux_arm64_${{ env.VERSION }}.zip bin/ LICENSE resources/ restore.sh README.md saved/

      - name: Move linux binaries and other files
        run: rm -r ./bin/linux

      - name: Copy exclude files back
        run: cp -R ./exclude/bin/* ./bin

      - name: Zip complete files
        run: zip -r ${{ github.event.repository.name }}_complete_${{ env.VERSION }}.zip bin/ LICENSE resources/ restore.sh README.md saved/

      - name: Create this file to get latest git hash
        run: |
          echo "This file is for version checking purposes only. Get the correct zip file for your platform in the release assets." > README.txt
          zip -r git-hash_${{ env.DATE_OLD }}-${{ env.SHA_SHORT }}.zip README.txt

      - name: Remove all assets from latest release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          assets=$(gh release view latest --json assets -q '.assets[].name' || true)

          if [[ -z "$assets" ]]; then
            echo "No assets found on release 'latest'"
            exit 0
          fi

          for asset in $assets; do
            echo "Deleting asset: $asset"
            gh release delete-asset latest "$asset" -R ${{ github.repository }} -y
          done

      - name: Update latest release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload latest \
            git-hash_${{ env.DATE_OLD }}-${{ env.SHA_SHORT }}.zip \
            ${{ github.event.repository.name }}_complete_${{ env.VERSION }}.zip \
            ${{ github.event.repository.name }}_macos_${{ env.VERSION }}.zip \
            ${{ github.event.repository.name }}_linux_arm64_${{ env.VERSION }}.zip \
            ${{ github.event.repository.name }}_linux_x86_64_${{ env.VERSION }}.zip \
            --clobber -R ${{ github.repository }}

          gh release edit latest \
            --title "Latest-${{ env.VERSION }}" \
            --target ${{ github.sha }} -R ${{ github.repository }}
