<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string>http://appldnld.apple.com/iPhone4/041-0368.20110311.SwtHr/iPad2,1_4.3_8F191_Restore.ipsw</string>
	<key>Filename</key>
	<string>iPad2,1_4.3_8F191_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>038-0789-002.dmg</string>
			<key>IV</key>
			<string>f9ea89a95c266ceda3fe83413b3fcbf1</string>
			<key>Key</key>
			<string>9a4a7f60e779cbe4a39c8a32be28088b5363d9aab0e9afec0d2700cf35a66793</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k93ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93ap.production/DeviceTree.k93ap.img3</string>
			<key>IV</key>
			<string>aa3cdb7d5a79e7b86b87fd439554319a</string>
			<key>Key</key>
			<string>b8dd4de83879488b58f0ee3479a2b91b870669393726dd55f98bd33460f9a0c7</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.k93</string>
			<key>File</key>
			<string>kernelcache.release.k93</string>
			<key>IV</key>
			<string>20da2e416d130664a034cf22dc312394</string>
			<key>Key</key>
			<string>3552b5bcd550b882467b08beef9e2d8bf690571bf8acb69d3eeba41d10aff08c</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8940x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93ap.production/applelogo.s5l8940x.img3</string>
			<key>IV</key>
			<string>57b455cd15d4bafffd5128b6f4ca464d</string>
			<key>Key</key>
			<string>b29750c68eb22b1c6e80db043170b2e1c9d182f172cdfc8613ffea5783a3a9cb</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k93ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>234ebd568ffe6fcb360c42ed3e26bcc9</string>
			<key>Key</key>
			<string>42bc06bb187e1d88e3ba94fb718607138c610e848b8a471138ec9dcc064a8ef8</string>
			<key>Patch</key>
			<string>iBEC.k93ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k93ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>e03e66cc3cd1fbf4bfe6a92a9402679f</string>
			<key>Key</key>
			<string>fd7bc94446fc3b48992837d992488e4f0e64049d89ceda2683976a7cc591e116</string>
			<key>Patch</key>
			<string>iBSS.k93ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPad2,1_4.3_8F191</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>038-0776-002.dmg</string>
	<key>RootFilesystemKey</key>
	<string>9fa818e21063f77d31e21ff601c11fd1a2997f9d1937f38bcf30a7157f75d19e52dedc81</string>
	<key>RootFilesystemMountVolume</key>
	<string>Durango8F191.K93OS</string>
	<key>RootFilesystemSize</key>
	<integer>1500</integer>
	<key>SHA1</key>
	<string>c4db3a44dc0986bc8344f7672cfa0255bea8af14</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
